<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Digiverifier</title>
  <link rel="stylesheet" href="https://img1.digitallocker.gov.in/public/smart/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://img1.digitallocker.gov.in/public/smart/css/global-style-v5_071219.css">

</head>
<body>

<div class="col-xl-6 mx-auto">
<section class="card-signin">
<div class="row setup-content">
<div class="col-xs-12 col-md-12">
<div class="row"><img src="assets/img/digilockerlogo.png" class="mx-auto d-block"></div>
<br>

<div class="container container-md">
	<div class="col-xs-12">
	<div class="row">
	<div class="col-xs-12 col-md-12">
	<div class="container container-md">
	
	<div>

		<form [formGroup]="digidocument">
			<p>
			<label><strong>NAME:</strong> <input type="text" value="{{aadharName}}" formControlName="aadharName" class="form-control form-control-sm rightinput textform"  placeholder="Enter the name.."></label></p>
			<p>
			<label><strong>DATE OF BIRTH:</strong><input type="text" value="{{aadharDob}}"formControlName="aadharDob" class="form-control form-control-sm rightinput textform"  placeholder="Enter the DOB.."></label></p>
			<p>
			<label><strong>CERTIFICATE:</strong>
				<select #mySelect (change)='onOptionsSelected(mySelect.value)' formControlName="certificate" class="textform">
				<option value="">-- Select -- </option>
				<option value="Class X Marksheet">Class X Marksheet</option>
				<option value="Class XII Marksheet">Class XII Marksheet</option>
				<option value="Under Graduate/Dgree/Diploma Certificate">Under Graduate/Dgree/Diploma Certificate</option>
				<option value="Post Graduation Certificate">Post Graduation Certificate</option>
			  </select>
			  </label></p>
			  <p>
			  <label><strong>UNIVERSITY / BOARD</strong>
				<select #mySelectnew (change)='onOptionsSelecteduniversity(mySelectnew.value)' formControlName="university" class="textform">
					<option [ngValue]="null" disabled>--Select--</option>
					<option *ngFor="let item of newschool_boards" [value]="item" >{{item}}</option>
			  </select>
			  </label>
			</p>
			<p>
			  <label><strong>DOCUMENT TYPE:	</strong>		  
				<select #mySelectdoc (change)='onOptionsSelecteddoc(mySelectdoc.value)' formControlName="document" class="textform">
					<option [ngValue]="null" disabled>--Select--</option>
					<option *ngFor="let item of documents" [value]="item" >{{item}}</option>
			  </select>
			  </label>
			</p>
  <div *ngFor="let item of parameters; let i=index">	
	<div class="input-group"><strong> {{item.label}}</strong>[Ex.  {{item.example}}]<input type="text" formControlName="param{{i+1}}" class="textform texttop form-control form-control-sm rightinput"></div>
    
</div>
	
	  <div class="col-md-12 text-center" style="margin-left:-10%">
                                    	<ul class="buttons">
                                    		<li style="margin-right:2%"><button tabindex="2" class="btn-sign-in button6 Verify_otp border bg_none color_048 radius_50" style="padding: 0px 5px; line-height:14px;" (click)="cancel()" type="submit" >University/board <br>not found</button></li>
											<li style="margin-right:2%"><button tabindex="2" class="btn-sign-in button6 Verify_otp border bg_none color_048 radius_50" style=" padding: 0px 5px; " (click)="onSubmit(digidocument)"  type="submit" >Get Document</button></li>
											<li style="margin-right:2%"><button tabindex="2" class="btn-sign-in button6 Verify_otp border bg_none color_048 radius_50" style=" padding: 0px 5px; " (click)="cancel()"  type="submit" >CANCEL</button></li>
                                    	</ul>
                                     </div>
	</form>
	 <div>
  <input class="form-check-input" style="margin-left:-53%" type="checkbox" value="" id="" checked/>
  <label class="form-check-label" for="flexCheckCheckedDisabled">I provide my consent to DigiLocker to share my details with the issuers for the purpose of fetching my documents.</label>
</div>
</div>
	</div>
		<div class="rightcontainer">
			<!-- [formGroup]="digidocument" -->
			
	<div class="clear"></div>	
	
  
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</section>
<br>
<div>
	<ul>
		<li><h6 class="fw_300 account_msg">Don't have DigiLocker account?<a href="https://accounts.digitallocker.gov.in/oauth_partner/register/%252Foauth2%252F1%252Fconsent%253Fresponse_type%253Dcode%2526client_id%253DEABCF5B4%2526state%253D12345%2526redirect_uri%253Dhttps%25253A%25252F%25252Fwww.digiverifier.com%2526orgid%253D002483%2526txn%253D6396f6e098338oauth21670837984%2526hashkey%253De823761440be064f196b6ba48d4c7d9fd39ae5d76e04321ce6f9fb24e02c2f90%2526requst_pdf%253DY%2526app_name%253DcHJvdG90eXBl%2526signup%253Dsignup"> Sign up</a></h6></li>
	</ul>
</div>
</div>
</body>
</html>


