.leftcontainer{width:30%;float:left}
.rightcontainer{width:60%;float:right;}
.leftlable{padding-top:10px; padding-bottom:10px; border-bottom:1px solid #eee; font-weight:700;}
.leftlable1{padding-top:15px; padding-bottom:15px; border-bottom:1px solid #eee; font-weight:700;}
/*.rightinput{margin-top:4%; margin-bottom:4%;}*/
.card-signin{margin-top:5%;}
select{
    word-wrap: normal;
    border: 1px solid #7b7874 !important;
    font-size: 1em !important;
    padding: 5px !important;
}

.textform{width:500px !important; border: 1px solid #7b7874 !important;}
.rightinput[_ngcontent-oal-c128]{margin-top:1% !important; margin-bottom:1% !important; border:1px solid #000}
.input-group{width:500px !important; }
.texttop{margin-top:1% !important;}
.button6{margin-right:9x !important;}