<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle"></h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-header">
        <h6 class="card-title">DNH Report</h6>
    </div>
    <form >
        <input type="hidden" >
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="" class="col-md-12 required">Customer Name :</label>
                                    <div class="col-md-12">
                                        <select class="form-control form-control-sm" #t (change)="getCustomerData(t.value)"
                                        formControlName="organizationId" >
                                            
                                            <option  *ngIf="admin == true" value="{{orgid}}" [selected]="true" >{{ organizationame }}</option>
                                            <option *ngFor="let item of getCustID"   [value]="item.organizationId">{{ item.organizationName }}</option>
                                        </select>

                                        <!-- <select class="form-control form-control-sm" #t (change)="getCustomerData(t.value)"
                                        formControlName="organizationId">
                                            <option [value]="" disabled>--Select--</option>
                                            <option *ngFor="let item of getCustID"  [value]="item.organizationId">{{ item.organizationName }}</option>
                                        </select> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between btn-block">
                            <form [formGroup]="searchForm" (ngSubmit)="performSearch()" class="d-flex float-right">
                                <input type="text" formControlName="searchText" class="form-control form-control-sm" placeholder="Search" aria-label="Search">
                                <button type="submit" class="btn-primary btn-sm ml-1">Search</button>
                            </form>
                            <div class="d-flex">
                                <button type="button" [disabled]="organizationId==null" class="btn btn-sm btn-success ml-auto" (click)="triggerModal(modalData)">Add DNH</button>
                                <button type="button" [disabled]="organizationId==null || AllSuspectEmpList.length === 0" class="btn btn-sm btn-danger ml-1" (click)="removeDNHDB()">Remove DNHDB</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination controls -->
    </form>
   
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered tbl-drilldown">
                                    <thead>
                                        <th>SI#</th>
                                        <th>Employer Name</th>
                                        <th>Employer Address</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        <th><input type="checkbox" (click)="selectAll($event)"></th>


                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of AllSuspectEmpList;let i = index;">
                                            <td>{{i+1}}</td>
                                            <td>{{ item.suspectCompanyName }}</td>
                                            <td>{{ item.address }}</td>
                                            <td>{{item.isActive == true ?'Active':'InActive'}}</td>
                                            <td>
                                                <button type="button" data-toggle="tooltip" class="btn btn-warning btn-sm" title="Edit" 
                                                id="edit{{i}}" (click)="openSuspectEmployeeModal(modalSuSpectEmploye, item.suspectEmpMasterId,item.suspectCompanyName,item.address)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" (click)="deleteSuspectEmp(item.suspectEmpMasterId)" class="btn btn-danger btn-sm" data-toggle="tooltip"><i class="fas fa-times"></i></button>
                                            </td>  
                                            <td><input type="checkbox"  id="{{item.suspectEmpMasterId}}" value="{{item.suspectEmpMasterId}}" class="childCheck" (change)="childCheck($event)"></td>
   
                                        </tr>
                                    </tbody>
                                </table>
                                <form [formGroup]="formToDelete">
                                    <input type="hidden" formControlName="suspectEmpMasterId">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" [disabled]="AllSuspectEmpList.length === 0" (click)="deleteSuspectedEmployers()" class="btn btn-sm btn-danger ">Delete</button>
                                        </div>
                                    </div>
                                    
                                </form>
                                
                            </div>
                            <div class="pagination-container">
                                <button class="pagination-button prev-button" [disabled]="pageNumber === 0" (click)="onPageChange(pageNumber - 1)">
                                    <em class="fas fa-chevron-left"></em> Previous
                                </button>
                                <span class="page-number">Page {{ pageNumber + 1 }}<span [ngClass]="{'disabled-span': totalPages === 0}"> of {{totalPages}}</span></span>
                                <button class="pagination-button next-button btn-primary" [disabled]="AllSuspectEmpList.length < pageSize" (click)="onPageChange(pageNumber + 1)">
                                    Next <em class="fas fa-chevron-right"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        

    </div>
    
</div>

<ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Upload DNH Data</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div class="row text-center">
                <div class="col">
                  
                    <a href="./assets/docs/DNHDB.csv" class="btn btn-primary btn-sm">
                        Sample CSV <i class="fas fa-download"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="./assets/docs/DNHDB.xlsx" class="btn btn-primary btn-sm">
                        Sample XLS <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="col">
                            <input type="file" class="form-control-file form-control" required (change)="selectFile($event)" accept=".xlsx, .xls, .csv">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center mt-3 pb-3">
                    <button class="btn btn-success btn-sm" (click)="uploadFakeCompanyDetails()">Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')">Close</button>
                </div>
            </div>
        </form>
    </div>
  </ng-template>
  <ng-template #modalSuSpectEmploye let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Employee Status</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formSuSpectEMP" (ngSubmit)="submitSuspectEmploye()">
            <input type="hidden"  formControlName="id">
            <div class="row " >
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="" class="required">Company Name</label>
                        <input type="text" formControlName="suspectCompanyName" >
                        
                    </div>
                </div>
                <div class="col-md-10">
                     <div class="form-group"> 
                        <div class="form-group">
                            <label for="" class="required">Company Address</label>
                            <input type="text" formControlName="address" >
                          
                        </div>
                    </div> 
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="" class="required">Status</label>
                        <select class="form-control form-control-sm" formControlName="isActive">
                            <!-- <option [ngValue]="null" disabled>{{ item.colorColorName }}</option> -->
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option  [value]="true">Active</option>
                            <option  [value]="false">InActive</option>
                            <!-- <option *ngFor="let item of getColors" [value]="item.colorId" >{{ item.colorName }}</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center mt-3 pb-3">
                    <button type="submit"  [disabled]="!formSuSpectEMP.valid" class="btn btn-primary btn-sm">Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')">Close</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
