@import  "../../../assets/scss/candidate";

// Responsive Design Properties
@media (max-width: 767px) {
    .container.container-sm{
        width: 80%;
    }
    .single_userTpe_con .single_userTpe{
        width: 100%;
        margin: 0 0 12px 0;
    }
}
