@import  "../../../assets/scss/admin.scss";

.ms-Button {
    background-color: white;
    border: 2px solid #0078d4;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    padding: 7px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.ms-Button:hover {
    background-color: #0078d4;
}
.fas {
    font-size: 12px; 
    color: #0078d4;
  }
.ms-Button:hover .fas {
  color: white; 
}
.btngroup {
    display: flex;
    gap: 10px; 
}
.ms-Button-danger:hover {
    background-color: #a80000;
}
.ms-Button-danger:hover .fas {
    color: white; 
}
.ms-Button-danger {
    background-color: white;
    border: 2px solid #a80000;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    padding: 7px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.ms-Button-danger .fas {
    font-size: 12px; 
    color: #a80000;
}