<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
<title>DigiVerifier Pdf</title>
<meta charset="UTF-8" />
<!--    <link  th:href="@{styles/css/Metro.css}"  rel="stylesheet"/>-->
<link th:href="@{styles/css/fonts.css}" rel="stylesheet" />
<link th:href="@{styles/css/common.css}" rel="stylesheet" />
<link th:href="@{http://fonts.googleapis.com/css?family=Calibri}"
	rel='stylesheet' type='text/css' />
<!--<script src='http://localhost:9090/chart.js'></script>-->
<style>
span {
	font-family: 'Calibri', sans-serif;
}

.table-st {
	clear: both;
	width: 100%;
	border: 1px solid #1C4E80;
	border-collapse: collapse;
}

.table-st tr {
	border: 1px solid #1C4E80;
	border-collapse: collapse;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.table-st tr td {
	border: 1px solid #1C4E80;
	border-collapse: collapse;
	padding: 5px;
}

.table-st tr td span {
	margin-left: 5px;
}

.blue-bg {
	background-color: #1C4E80;
}

.grey-bg {
	background-color: #DDDDDD;
}

.black-text {
	color: black;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
}

.grey-text {
	color: black;
	font-size: 13px !important;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
}

.white-text {
	font-weight: bold;
	color: #1C4E80;
	font-family: 'Calibri', sans-serif;
	font-size: 13px;
}

.td-heading {
	font-weight: bold;
	font-size: 15px;
}

.line-break {
	display: block;
	height: 15px;
}

.sub-heading {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.green-status {
	margin: 0px;
	color: #008000;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 12px;
}

.amber-status {
	margin: 0px;
	color: #ffA500;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 12px;
}

.red-status {
	margin: 0px;
	color: #ff0000;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 12px;
}

.invalid-status {
	margin: 0px;
	color: #000000;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 12px;
}

.black-box {
	border: 1px solid black;
}
</style>
</head>
<body
	style="background-color: #fff; padding: 0px; margin: 0px; position: relative; font-family: 'Calibri', sans-serif; color: #666666;">
	<section class="wrapper"
		style="width: 100%; margin: 0 auto; height: 80%;">
		<span class="line-break"></span>

		<table class="table-st">
			<tr style="padding: 7px">
				<td class="text-center"><span 
					style="width: 50%; font-size: 14px; font-weight: 600; color: black;"> <b
						th:text="${root.organizationName}"></b>
				</span></td>
				<td class="text-center blue-bg" style="width: 50%;"><span
						class="sub-heading" style="color: whitesmoke; font-weight: 600;">
					Digital BGC Report</span></td>
			</tr>
			<tr>
				<td class="text-left"><span 
					style="font-size: 12px; color:#605f5f; width: 50%"><b
						th:text="${root.organizationLocation}"></b>
				</span></td>
				<td class="text-center" style="width: 50%;padding: 15px"><img
					style="height: 50px; width: 200px;"
					th:src="${root.organizationLogo}" /></td>
			</tr>
		</table>
		<span class="line-break"></span> <span class="line-break"></span>

		<table class="table_head table-st">
			<!--concept Title head-->
			<tr class="text-center">
				<td class="grey-bg" colspan="2"><span
					class="td-heading black-text">BACKGROUND PROFILE</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Name of the Candidate</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.name}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Date of Birth</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.dob}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Contact No</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.contactNo}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Email ID</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.emailId}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Reference ID</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.applicantId}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class="grey-bg"><span
					class="black-text"> <b>Client Name</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.project}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class="grey-bg"><span
					class="black-text"> <b>Account Name</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.accountName}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class="grey-bg"><span
					class="black-text"> <b>Fresher/ Experienced</b>
				</span></td>
				<td style="padding: 5px" class="text-left"><span
					class="grey-text"> <b th:text="${root.experience}"></b>
				</span></td>
			</tr>
			<!--            <tr>-->
			<!--            <td style="padding: 5px" class="grey-bg text-left">-->
			<!--                <span  class="black-text">-->
			<!--                    <b>Report Type</b>-->
			<!--                </span>-->
			<!--            </td>-->
			<!--            <td style="text-align:left;padding: 5px;">-->
			<!--                <span class="grey-text">-->
			<!--                    <b th:text="${root.reportType}"></b>-->
			<!--                </span>-->
			<!--            </td>-->
			<!--        </tr>-->

			<tr>
				<td style="padding: 5px" class="grey-bg text-left"><span
					class="black-text"> <b>Case Inititaion Date & Time</b>
				</span></td>
				<td style="padding: 5px" class="text-left"><span
					class="grey-text"> <b th:text="${#dates.format(root.caseInitiationDate, 'dd-MM-yyyy HH:mm:ss')}"></b>
				</span></td>
			</tr>

			<tr>
				<td style="padding: 5px" class="grey-bg text-left"><span
					class="black-text"> <b>Report Delivered Date & Time</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${#dates.format(root.finalReportDate, 'dd-MM-yyyy HH:mm:ss')}"></b>
				</span></td>
			</tr>


			<tr style="padding: 5px">
				<td style="text-align: left; width: 25%; padding: 10px 5px;"
					class="grey-bg"><span class="black-text"> <b>Verification
							Status</b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'" th:text="${root.verificationStatus}"></span> 
					<span class="amber-status" th:case="'AMBER'" th:text="${root.verificationStatus}"></span>
					<span class="red-status" th:case="'RED'" th:text="${root.verificationStatus}"></span> 
					<span class="invalid-status grey-text" th:case="*">INVALID</span>
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'">CLEAR</span> 
					<span class="amber-status" th:case="'AMBER'">DRAFT</span> 
					<span class="red-status" th:case="'RED'" th:text="${root.verificationStatus}"></span> 
					<span class="invalid-status grey-text" th:case="*">INVALID</span>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px" class="grey-bg text-left"><span
					class="black-text"> <b>Remarks/Comments</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${root.comments}"></b>
				</span></td>
			</tr>
		</table>
		<span class="line-break"
			th:if="${!#strings.equalsIgnoreCase(root.project, 'accolite')}"></span>
		<span class="line-break"
			th:if="${!#strings.equalsIgnoreCase(root.project, 'accolite')}"></span>

		<table class="table_head table-st"
			th:if="${!#strings.equalsIgnoreCase(root.project, 'accolite')}">
			<!--concept Title head-->
			<tr>
				<td class="grey-bg" colspan="2"><span
					class="td-heading black-text">Reasons for Red/Amber</span></td>
				<td class="grey-bg" colspan="1"><span
					class="td-heading black-text">Results</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Dual Employment (Moonlighting)</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.dualEmployment}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.dualEmploymentColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.dualEmploymentColorId}">  
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Undisclosed</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.undisclosed}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.undisclosedColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.undisclosedColorId}"> 
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Data Not Found</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.dataNotFound}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.dataNotFoundColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.dataNotFoundColorId}">  
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>DNH DB</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.dNHDB}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.dNHDBColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.dNHDBColorId}"> 
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Tenure Mismatch</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.tenureMismatch}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.tenureMismatchColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.tenureMismatchColorId}">  
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class="grey-bg"><span
					class="black-text"> <b>Overseas Employment</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.overseasEmployment}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.overseasEmploymentColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.overseasEmploymentColorId}"> 
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class="grey-bg"><span
					class="black-text"> <b>Others</b>
				</span></td>
				<td style="padding: 5px; min-width: 100px" class="text-left"><span
					class="grey-text" th:if="${root.organisationScope}"> <b
						th:text="${root.organisationScope.others}"></b>
				</span></td>
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.othersColorId}">
					<span class="green-status" th:case="3">GREEN</span> 
					<span class="amber-status" th:case="2">AMBER</span> 
					<span class="red-status" th:case="1">RED</span> 
				</td>
				
				<td style="border-collapse: collapse; padding: 10px 5px;" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.organisationScope?.othersColorId}">  
					<span class="red-status" th:case="1">RED</span>
					<span class="green-status" th:case="3">CLEAR</span> 
					<span class="amber-status" th:case="2">DRAFT</span>
				</td>
			</tr>
		</table>
		<span class="line-break"
			th:if="${!#strings.equalsIgnoreCase(root.project, 'accolite')}"></span>
		<span class="line-break"
			th:if="${!#strings.equalsIgnoreCase(root.project, 'accolite')}" style="margin-top: 150px"></span>


		<table class="table_head table-st"
			th:if="${!#strings.equalsIgnoreCase(root.project, 'accolite')}">
			<!--concept Title head-->
			<tr>
				<td class="grey-bg" colspan="4"><span
					class="td-heading black-text">ITR Section</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Section</b>
				</span></td>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Description</b>
				</span></td>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Section</b>
				</span></td>
				<td style="padding: 5px;" class="grey-bg text-left"><span
					class="black-text"> <b>Description</b>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>192</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Salary</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>194JA</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Fees for technical services</b>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>194J</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Fees for professional or
							technical services</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>194JB</b>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Fees for professional or royalty
							etc</b>
				</span></td>
			</tr>
		</table>
		<span class="line-break"></span> <span class="line-break"></span>

		<table class="table-st">
			<tr>
				<td colspan="3" class="grey-bg text-center"><span
					class="td-heading black-text"
					style="font-size: 14px; font-weight: bold;">COLOR CODE</span></td>
			</tr>
		</table> 
		<table class="table-st">

			<tr class="text-center">

				<td style="width: 33%"><span
					style="font-size: 10px; font-weight: bold;" class="grey-text">
						DISCREPANCY - <b style="color: #ff0000">RED</b>
				</span></td>
				<td style="width: 33%">
					<span th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
						style="font-size: 10px; font-weight: bold;" class="grey-text">
							CLEARED - <b style="color: #008000">GREEN</b>
					</span>
					
					<span th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
						style="font-size: 10px; font-weight: bold;" class="grey-text">
							CLEARED - <b style="color: #008000">CLEAR</b>
					</span>
				</td>
				<td style="width: 33%">
					<span th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
						style="font-size: 10px; font-weight: bold;" class="grey-text">
							UNABLE TO VERIFY/ DUAL - <b style="color: #ffA500">AMBER</b>
					</span>
										
					<span th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
						style="font-size: 10px; font-weight: bold;" class="grey-text">
							UNABLE TO VERIFY/ DUAL - <b style="color: #ffA500">DRAFT</b>
					</span>
				</td>

			</tr>
		</table>
		
		<span class="line-break"></span>
    <span class="line-break"></span>
    
    <span class="td-heading black-text" th:if="${root.globalDatabaseCheck}"></span>
    <span class="line-break" th:if="${root.globalDatabaseCheck}"></span>
    
    <table class="table-st" border="0" th:if="${root.globalDatabaseCheck}"> 
    	<tr class="blue-bg text-center">
			<td class="white-text" colspan="6"><span class="td-heading"
				style="color: whitesmoke;"><b>Database Verification – Global</b> </span></td>
		</tr>
        <tr class="text-center" th:each="key: ${root.globalDatabaseCheck.keySet()}">
			<td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${key}"></span></td>
			<td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get(key)}"></span></td>
		</tr>
    </table>
    
    <span class="td-heading black-text" th:if="${root.criminalCheck}"></span>
    <span class="line-break" th:if="${root.criminalCheck}"></span>
    
    <table class="table-st" border="0" th:if="${root.criminalCheck}"> 
    	<tr class="blue-bg text-center">
			<td class="white-text" colspan="6"><span class="td-heading"
				style="color: whitesmoke;"><b>Criminal Record Verification – Current / Current and Permanent</b> </span></td>
		</tr>
        <tr class="text-center" th:each="key: ${root.criminalCheck.keySet()}">
			<td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${key}"></span></td>
			<td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get(key)}"></span></td>
		</tr>
    </table>
    
	<span class="td-heading black-text" th:if="${root.educationCheck}"></span>
    <span class="line-break" th:if="${root.educationCheck}"></span>
    
    <table class="table-st" border="0" th:if="${root.educationCheck}"> 
    	<tr class="blue-bg text-center">
			<td class="white-text" colspan="6"><span class="td-heading"
				style="color: whitesmoke;"><b>Education Verification</b> </span></td>
		</tr>
        <tr class="text-center" th:each="key: ${root.educationCheck.keySet()}">
			<td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${key}"></span></td>
			<td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get(key)}"></span></td>
		</tr>
    </table>
    
		<span class="line-break"></span>
		<span class="line-break"></span>

		<p class="sub-heading" style="font-family: 'Calibri', sans-serif;"
			th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}">Scope
			of verification</p>
		<table class="table-st"
			th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}">
			<tr th:each="education,stat: ${root.educationVerificationDTOList}">
				<td style="width: 17%; padding: 5px;" class="grey-bg text-left">
					<span class="black-text"> <b>Education</b>
				</span>
				</td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b th:text="${education.degree}"></b>
				</span></td>
			</tr>
			<tr>
				<td style="width: 17%; padding: 5px;" class="grey-bg text-left">
					<span class="black-text"> <b>Employment</b>
				</span>
				</td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Current Employment</b>
				</span></td>
			</tr>
			<tr>
				<td style="width: 17%; padding: 5px;" class="grey-bg text-left">
					<span class="black-text"> <b>Address</b>
				</span>
				</td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Current / Permanent</b>
				</span></td>
			</tr>
			<tr>
				<td style="width: 17%; padding: 5px;" class="grey-bg text-left">
					<span class="black-text"> <b>Criminal</b>
				</span>
				</td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Current / Permanent</b>
				</span></td>
			</tr>
			<tr>
				<td style="width: 17%; padding: 5px;" class="grey-bg text-left">
					<span class="black-text"> <b>Identity</b>
				</span>
				</td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>PAN</b>
				</span></td>
			</tr>
			<tr>
				<td style="width: 17%; padding: 5px;" class="grey-bg text-left">
					<span class="black-text"> <b>Database</b>
				</span>
				</td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <b>Global</b>
				</span></td>
			</tr>
		</table>


		<div style="page-break-after: always;"
			th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}">
			<!-- content -->
		</div>
		<span class="line-break"
			th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"></span><span
			class="line-break"></span>
		<!-- <p class ="grey-text sub-heading">EXECUTIVE SUMMARY</p> -->
		<table class="table-st">
			<tr class="blue-bg text-center">
				<td class="white-text" colspan="6"><span class="td-heading"
					style="color: whitesmoke;"><b>Executive Summary</b> </span></td>
			</tr>
			<tr class="text-center">
				<td
					style="width: 15%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">Verification</span></td>
				<td
					style="width: 30%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">Detailed Summary /
						Verification Attained</span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">Result</span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">Comments</span></td>
			</tr>
			<tr class="text-center"
				th:if="${not #lists.isEmpty(root.educationVerificationDTOList)}"
				th:each="education: ${root.educationVerificationDTOList}">
				<td class="grey-text text-center">Education Verification</td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${education.degree}"></span></td>
				<td class="grey-text text-center" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${education.verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'">GREEN</span> 
					<span class="amber-status" th:case="'AMBER'">AMBER</span> 
					<span class="red-status" th:case="'RED'">RED</span> 
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				
				<td class="grey-text text-center" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${education.verificationStatus.name()}"> 
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="green-status" th:case="'GREEN'">CLEAR</span> 
					<span class="amber-status" th:case="'AMBER'">DRAFT</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				<td class="grey-text text-center"
					th:text="${education.customRemark}"></td>
			</tr>

			<tr class="text-center"
				th:if="${not #lists.isEmpty(root.employmentTenureVerificationDtoList)}">
				<td class="grey-text text-center">Employment Verification -
					current</td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${root.employmentTenureVerificationDtoList[0].employerName}"></span></td>
				<td class="grey-text text-center" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.employmentTenureVerificationDtoList[0].verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'">GREEN</span> 
					<span class="amber-status" th:case="'AMBER'">AMBER</span> 
					<span class="red-status" th:case="'RED'">RED</span> 
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				
				<td class="grey-text text-center" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${root.employmentTenureVerificationDtoList[0].verificationStatus.name()}"> 
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="green-status" th:case="'GREEN'">CLEAR</span> 
					<span class="amber-status" th:case="'AMBER'">DRAFT</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				<td class="grey-text text-center"
					th:text="${root.employmentTenureVerificationDtoList[0].customRemark}"></td>
			</tr>

			<tr class="text-center"
				th:if="${not #lists.isEmpty(root.addressVerificationDtoList)}"
				th:each="address,stat: ${root.addressVerificationDtoList}">
				<td class="grey-text text-center"><span style="font-size: 12px">Address
						Verification – Current / Permanent / Current and Permanent</span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${address.input}"></span></td>

				<td th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}" th:switch="${address.verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'">GREEN</span> 
					<span class="amber-status" th:case="'AMBER'">AMBER</span> 
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				
				<td th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}" th:switch="${address.verificationStatus.name()}">
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="green-status" th:case="'GREEN'">CLEAR</span> 
					<span class="amber-status" th:case="'AMBER'">DRAFT</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				<td class="grey-text text-center" th:text="${address.customRemark}"></td>
			</tr>
		</table>
		<span class="line-break"></span><span class="line-break"></span>
		<table class="table-st employer-name-verification" border="0">
			<tr class="blue-bg text-center">
				<td class="white-text" colspan="6"><span class="td-heading"
					style="color: whitesmoke;"><b>Section Ⅰ: ID Verification
					</b> </span></td>
			</tr>
			<tr class="text-center">
				<td
					style="width: 5%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">S.No</span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">ID Items</span></td>
				<td
					style="width: 20%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">Name</span></td>
				<td
					style="width: 20%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">ID No</span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">Source</span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text">Result</span></td>

			</tr>
			<tr class="text-center"
				th:each="employmentVerification,stat: ${root.idVerificationDTOList}">
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${stat.index + 1}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${employmentVerification.iDtype}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${employmentVerification.name}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${employmentVerification.idNo}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${employmentVerification.sourceEnum}"></span></td>
				<td class="grey-text text-center" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${employmentVerification.verificationStatus.name()}"> 
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="green-status" th:case="'GREEN'">CLEAR</span> 
					<span class="amber-status" th:case="'AMBER'">DRAFT</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				<td class="grey-text text-center" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${employmentVerification.verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'">GREEN</span> 
					<span class="amber-status" th:case="'AMBER'">AMBER</span> 
					<span class="red-status" th:case="'RED'">RED</span> 
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
			</tr>
		</table>

		<span class="line-break"></span><span class="line-break"></span>
		<table class="table-st" border="0">
			<tr>
				<td colspan="6" class="text-center blue-bg "><span
					class="td-heading" style="color: whitesmoke;"><b>Section
							ⅠⅠ: Employment Verification </b> </span></td>
			</tr>
			<tr class="text-center">
				<td
					style="width: 5%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">S.No</span></td>
				<td
					style="width: 40%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">Employers</span></td>
				<td
					style="width: 25%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">Tenure </span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">Source</span></td>
				<td
					style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
					class="white-text text-center">Result</span></td>
			</tr>
			<tr class="text-center"
				th:each="employmentTenureVerification,stat: ${root.employmentTenureVerificationDtoList}">
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${stat.index + 1}"></span></td>
				<td class="grey-text text-left"><span style="font-size: 12px"
					th:text="${employmentTenureVerification.employerName}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${employmentTenureVerification.output}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${employmentTenureVerification.source}"></span></td>
				<td th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${employmentTenureVerification.verificationStatus.name()}">
					<span class="green-status" th:case="'GREEN'">GREEN</span> 
					<span class="amber-status" th:case="'AMBER'">AMBER</span> 
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>
				
				<td th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"
					th:switch="${employmentTenureVerification.verificationStatus.name()}"> 
					<span class="red-status" th:case="'RED'">RED</span>
					<span class="green-status" th:case="'GREEN'">CLEAR</span> 
					<span class="amber-status" th:case="'AMBER'">DRAFT</span>
					<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
				</td>

			</tr>
		</table>

		<span class="line-break"></span>
		<div th:if="${root.employmentTenureVerificationDtoList}">
			<span style="font-size: 15px" class="grey-text">Experience
				calculation : </span> <span style="font-size: 10px"
				th:text="${root.totalTenure}"></span> <br> <span
				style="font-size: 15px" class="grey-text">No of years to be
				verified : </span> <span style="margin-right: 300px; font-size: 10px"
				th:text="${root.noOfYearsToBeVerified}"></span>
		</div>

		<span class="line-break"></span><span class="line-break"></span>
		<div th:if="${not #lists.isEmpty(root.educationVerificationDTOList)}">
			<table class="table-st" border="0">
				<tr>
					<td colspan="6" class="text-center blue-bg "><span
						class="td-heading" style="color: whitesmoke;"><b>Section
								ⅠⅠⅠ: Education Verification </b> </span></td>
				</tr>
				<tr class="text-center">
					<td
						style="width: 5%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">S.No</span></td>
					<td
						style="width: 30%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Qualification Attained</span></td>
					<td
						style="width: 35%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">University/College </span></td>
					<td
						style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Source</span></td>
					<td
						style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Result</span></td>
				</tr>
				<tr class="text-center"
					th:each="education,stat: ${root.educationVerificationDTOList}">
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${stat.index + 1}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${education.degree}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${education.university}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${education.source}"></span></td>
					<td th:switch="${education.verificationStatus.name()}" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}">
						<span class="green-status" th:case="'GREEN'">GREEN</span> 
						<span class="amber-status" th:case="'AMBER'">AMBER</span> 
						<span class="red-status" th:case="'RED'">RED</span> 
						<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
					</td>

					<td th:switch="${education.verificationStatus.name()}" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"> 
						<span class="red-status" th:case="'RED'">RED</span>
						<span class="green-status" th:case="'GREEN'">CLEAR</span> 
						<span class="amber-status" th:case="'AMBER'">DRAFT</span>
						<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
					</td>
				</tr>
			</table>
			<span class="line-break"></span><span class="line-break"></span>
		</div>


		<div th:if="${root.addressVerificationDtoList}">
			<table class="table-st" border="0">
				<tr>
					<td colspan="6" class="text-center blue-bg "><span
						class="td-heading" style="color: whitesmoke;"><b>Section
								ⅠV: Address Verification </b> </span></td>
				</tr>
				<tr class="text-center">
					<td
						style="width: 5%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">S.No</span></td>
					<td
						style="width: 25%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Verification Items</span></td>
					<td
						style="width: 40%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Details </span></td>
					<td
						style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Source</span></td>
					<td
						style="width: 10%; padding: 5px; font-weight: bold; background-color: #DDDDDD;"><span
						class="white-text text-center">Result</span></td>
				</tr>
				<tr class="text-center"
					th:each="address,stat: ${root.addressVerificationDtoList}">
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${stat.index + 1}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${address.type}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${address.input}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${address.source}"></span>
					</td>
					<td th:switch="${address.verificationStatus.name()}" th:if="${!#strings.equalsIgnoreCase(root.project, 'Wipro')}">
						<span class="green-status" th:case="'GREEN'">GREEN</span> 
						<span class="amber-status" th:case="'AMBER'">AMBER</span> 
						<span class="red-status" th:case="'RED'">RED</span> 
						<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
					</td>
					

					<td th:switch="${address.verificationStatus.name()}" th:if="${#strings.equalsIgnoreCase(root.project, 'Wipro')}"> 
						<span class="red-status" th:case="'RED'">RED</span>
						<span class="green-status" th:case="'GREEN'">CLEAR</span> 
						<span class="amber-status" th:case="'AMBER'">DRAFT</span>
						<span class="invalid-status" style="font-size: 12px" th:case="*">INVALID</span>
					</td>
				</tr>
			</table>

			<div style="page-break-after: always;">
				<!-- content -->
			</div>
		</div>
		<div>
			<table class="table-st" border="0">
				<tr>
					<td colspan="6" class="text-center blue-bg "><span
						class="td-heading" style="color: whitesmoke;"><b>
								Employement Details </b> </span></td>
				</tr>
				<tr rowspan="2" class="text-center">
					<td style="width: 5.5%; padding: 5px; background-color: #DDDDDD;">
						<span class="white-text text-center">S.No </span>
					</td>

					<td style="width: 40%; padding: 5px; background-color: #DDDDDD;">
						<span class="white-text text-center">Employer Name </span>
					</td>
					<!--<td style="width:40%;padding: 5px;background-color: #DDDDDD;" colspan="2">
                <span class="white-text text-center">Tenure
                </span>
                </td>-->
					<td style="width: 20%; padding: 5px; background-color: #DDDDDD;">
						<span class="white-text text-center">DOJ </span>
					</td>
					<td style="width: 20%; padding: 5px; background-color: #DDDDDD;">
						<span class="white-text text-center"> DOE </span>
					</td>
					<!--<td style="width:10%;padding: 5px;background-color: #DDDDDD;">
                <span class="white-text text-center">Source
                </span>
                </td>-->
					<!--</tr>
            <tr class="text-center">
                <td style="background-color: #DDDDDD;"></td>
                <td style="background-color: #DDDDDD;"></td>
                <td style="padding: 5px;background-color: #DDDDDD;">
                <span class="white-text text-center">DOJ
                </span>
                </td>
                <td style="padding: 5px;background-color: #DDDDDD;">
                <span class="white-text text-center"> DOE
                </span>
                </td>
                <td style="background-color: #DDDDDD;"></td>
            </tr>-->
				<tr class="text-center"
					th:each="epfo,stat: ${root.employementDetailsDTOlist}">
					<td class="grey-text text-center"><b><span
							style="font-size: 12px" th:text="${stat.index + 1}"></span></b></td>
					<td class="grey-text text-left"><b><span
							style="font-size: 12px" th:text="${epfo.candidateEmployerName}"></span></b></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${epfo.inputDateOfJoining}"></span></td>
					<td class="grey-text text-center"><span
						style="font-size: 12px" th:text="${epfo.inputDateOfExit}"></span></td>
					<!-- <td class="grey-text text-center"><span style="font-size:12px" th:text="${epfo.serviceName}"></span></td> -->
				</tr>
			</table>
			<span class="line-break"></span><span class="line-break"></span>
		</div>

		<!--<div  th:if="${root.epfoData}">-->
		<!--<div  th:if="${root.itrEpfoHeaderDetails}">
            <span style="font-size:15px" class="grey-text">Candidate: </span>
            <span style="margin-right:300px;font-size:10px" th:text="${root.itrEpfoHeaderDetails.epfoName1}" class="grey-text"></span>
            <span style="font-size:15px" class="grey-text">UAN Number: </span>
            <span style="font-size:10px" th:text="${root.itrEpfoHeaderDetails.uanNo1}" class="grey-text"></span>
        </div>-->
		<span class="line-break"></span>
		<table class="table-st" border="0">
			<tr>
				<td colspan="6" class="text-center blue-bg "><span
					class="td-heading" style="color: whitesmoke;"><b>
							Service History - EPFO/26AS </b> </span></td>

			</tr>
			<tr rowspan="2" class="text-center">
				<td style="width: 5.5%; padding: 5px; background-color: #DDDDDD;">
					<span class="white-text text-center">S.No </span>
				</td>

				<td style="width: 40%; padding: 5px; background-color: #DDDDDD;">
					<span class="white-text text-center">Employer Name </span>
				</td>
				<!--<td style="width:40%;padding: 5px;background-color: #DDDDDD;" colspan="2">
                <span class="white-text text-center">Tenure
                </span>
                </td>-->
				<td style="width: 20%; padding: 5px; background-color: #DDDDDD;">
					<span class="white-text text-center">DOJ </span>
				</td>
				<td style="width: 20%; padding: 5px; background-color: #DDDDDD;">
					<span class="white-text text-center"> DOE </span>
				</td>
				<td style="width: 10%; padding: 5px; background-color: #DDDDDD;">
					<span class="white-text text-center">Source</span>
				</td>
			</tr>
			<!-- <tr class="text-center">
                <td style="background-color: #DDDDDD;"></td>
                <td style="background-color: #DDDDDD;"></td>
                <td style="padding: 5px;background-color: #DDDDDD;">
                <span class="white-text text-center">DOJ
                </span>
                </td>
                <td style="padding: 5px;background-color: #DDDDDD;">
                <span class="white-text text-center" > DOE
                </span>
                </td>
            </tr> -->

			<!-- <tr class="text-center" th:if="${root.epfoData != null and root.epfoData.epfoDataList.size() > 0}"
                      th:each="epfo,stat: ${root.epfoData?.epfoDataList}">
                <td class="grey-text text-center"><b><span style="font-size:12px" th:text="${stat.index + 1}"></span></b></td>
                <td class="grey-text text-left"><b><span style="font-size:12px" th:text="${epfo.company}"></span></b></td>
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${epfo.doj}"></span></td>
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${epfo.doe}"></span></td>
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${epfo.serviceName}"></span></td>
            </tr> -->

			<tr class="text-center" th:each="epfo,stat: ${root.serviceHistory}">
				<td class="grey-text text-center"><b><span
						style="font-size: 12px" th:text="${stat.index + 1}"></span></b></td>
				<td class="grey-text text-left"><b><span
						style="font-size: 12px" th:text="${epfo.candidateEmployerName}"></span></b></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${epfo.inputDateOfJoining}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${epfo.inputDateOfExit}"></span></td>
				<td class="grey-text text-center"><span style="font-size: 12px"
					th:text="${epfo.serviceName}"></span></td>
			</tr>

			<tr class="grey-text text-center"
				th:if="${root.epfoData == null || root.epfoData?.epfoDataList?.size() == 0}">
				<td colspan="5" style="font-size: 12px">EPFO Skipped</td>
			</tr>
		</table>
		<!--</div>
  </div>-->

		<div style="page-break-after: always;">
			<!-- content -->
		</div>
		<div th:if="${root.itrData}">
			<p class="sub-heading">26AS Statement</p>
			<div th:if="${root.itrEpfoHeaderDetails}">
				<span style="font-size: 15px" class="grey-text">Candidate: </span> <span
					style="margin-right: 300px; font-size: 10px"
					th:text="${root.itrEpfoHeaderDetails.itrName}" class="grey-text"></span>
				<span style="font-size: 15px" class="grey-text">PAN Number: </span>
				<span style="font-size: 10px"
					th:text="${root.itrEpfoHeaderDetails.panNo}" class="grey-text"></span>
			</div>
			<span class="line-break"></span>
			<table class="mars_tab table-st itr-data"
				style="background: transparent; clear: both;" border="0">
				<tr class="blue-bg">
					<td class="blue-bg text-center"
						style="width: 5%; color: whitesmoke; font-weight: bold; font-size: 10px; padding: 3px;"><span>Financial
							Year</span></td>
					<td class="blue-bg text-center"
						style="width: 10%; color: whitesmoke; font-weight: bold; font-size: 10px; padding: 3px;"><span>TAN</span></td>
					<td class="blue-bg text-center"
						style="width: 25%; color: whitesmoke; font-weight: bold; font-size: 10px; padding: 3px;"><span>Deductor</span></td>
					<td class="blue-bg text-center"
						style="width: 5%; color: whitesmoke; font-weight: bold; font-size: 10px; padding: 3px;"><span>Section</span></td>
					<td class="blue-bg text-center"
						style="width: 15%; color: whitesmoke; font-weight: bold; font-size: 10px; padding: 3px;"><span>Date</span></td>
					<td class="blue-bg text-center"
						style="width: 10%; color: whitesmoke; font-weight: bold; font-size: 10px; padding: 3px;"><span>Amount</span></td>
				</tr>
				<tr style="text-align: center; font-size: 12px;"
					th:each="itr,stat: ${root.itrData.itrDataList}">
					<td
						th:if="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span style="font-weight: bold;"
						th:if="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i
							th:text="${itr.financialYear}"></i></span> <span
						th:unless="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i
							th:text="${itr.financialYear}"></i></span>
					</td>
					<td
						th:unless="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span class="grey-text text-center"><i
							th:text="${itr.financialYear}"></i></span>
					</td>

					<td
						th:if="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span style="font-weight: bold;"
						th:if="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.tan}"></i></span>
						<span
						th:unless="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.tan}"></i></span>
					</td>
					<td
						th:unless="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span class="grey-text text-center"><i th:text="${itr.tan}"></i></span>
					</td>

					<td
						th:if="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span style="font-weight: bold;"
						th:if="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.deductor}"></i></span>
						<span
						th:unless="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.deductor}"></i></span>
					</td>
					<td
						th:unless="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span class="grey-text text-center"><i
							th:text="${itr.deductor}"></i></span>
					</td>

					<td
						th:if="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span style="font-weight: bold;"
						th:if="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.section}"></i></span>
						<span
						th:unless="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.section}"></i></span>
					</td>
					<td
						th:unless="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span class="grey-text text-center"><i
							th:text="${itr.section}"></i></span>
					</td>

					<td
						th:if="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span style="font-weight: bold;"
						th:if="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.date}"></i></span>
						<span
						th:unless="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.date}"></i></span>
					</td>
					<td
						th:unless="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span class="grey-text text-center"><i
							th:text="${itr.date}"></i></span>
					</td>

					<td
						th:if="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span style="font-weight: bold;"
						th:if="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.amount}"></i></span>
						<span
						th:unless="${itr.date == root.itrData.itrDataList[stat.index + 1].date}"
						class="grey-text text-center"><i th:text="${itr.amount}"></i></span>
					</td>
					<td
						th:unless="${stat.index < #lists.size(root.itrData.itrDataList) - 1}">
						<span class="grey-text text-center"><i
							th:text="${itr.amount}"></i></span>
					</td>

					<!--<td><span class="common_padding grey-text text-center" ><i th:text="${itr.tan}"></i></span></td>
                <td><span class="common_padding grey-text text-center" ><i th:text="${itr.deductor}"></i></span></td>
                <td><span class="common_padding grey-text text-center" ><i th:text="${itr.section}"></i></span></td>
                <td><span class="grey-text text-center"> <i th:text="${itr.date}"></i> </span></td>
                <td><span class="common_padding grey-text text-center" ><i th:text="${itr.amount}"></i></span></td>-->
				</tr>

			</table>
		</div>
		<span class="line-break"></span><span class="line-break"></span>
		<div>
			<p class="grey-text" style="font-size: 10px">Disclaimer: This
				report only sets out information obtained from records searched by
				CROSSBOW. And is issued on “as is where is” basis. No opinion is
				provided in respect of the corporate entities or individuals who are
				the subject of the report here in. CROSSBOW abides by the FCPA
				(Foreign Corrupt Practices Act) & FCRA (Fair Credit Reporting Act)
				Policies. This report does not constitute recommendations as to what
				action should be taken. It is difficult to verify all aspects of the
				information obtained due to the nature of the research and the
				limitations of obtaining such information from public records. Thus,
				while due care has been taken to ensure the accuracy of the
				compilation of information contained in this report, given the
				limitations of obtaining such information as noted above, no
				responsibility will be taken by CROSSBOW for the consequences of
				relying upon information contained in this report. All information
				supplied in this report is intended to be for the sole purpose of
				the client’s evaluation and is not intended for public
				dissemination.</p>
		</div>
		<!--<div  th:if="${root.comments}">
        <p class="sub-heading">COMMENTS</p>
        <textarea class="grey-text" style="font-size:10px" readonly="true" th:text="${root.comments}" rows="3" cols="150" >
        </textarea>

    </div>-->

		<span class="line-break"></span><span class="line-break"></span> <span
			class="line-break"></span><span class="line-break"></span>

		<!-- <p class ="text-center grey-text" style="font-size:14px"><b>- End of the report -</b></p> -->
	</section>
</body>
</html>

