<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Background Verification Report</title>
<meta charset="UTF-8" />
<!--    <link  th:href="@{styles/css/Metro.css}"  rel="stylesheet"/>-->
<link th:href="@{styles/css/fonts.css}" rel="stylesheet" />
<link th:href="@{styles/css/common.css}" rel="stylesheet" />
<link th:href="@{http://fonts.googleapis.com/css?family=Calibri}"
	rel='stylesheet' type='text/css' />
<!--<script src='http://localhost:9090/chart.js'></script>-->
<style>
heading {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

span {
	font-family: calibri;
}

.table-st {
	clear: both;
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

.table-st tr {
	border: 1px solid black;
	border-collapse: collapse;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.table-st tr td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 12px;
}

.table-st tr td span {
	margin-left: 5px;
}

.blue-bg {
	background-color: #355794;
}

.grey-bg {
	background-color: #A8A8A8;
}

.black-text {
	color: black;
	font-size: 12px;
	font-family: calibri;
}

.grey-text {
	color: #141414;
	font-size: 12px !important;
	font-family: calibri;
}

.white-text {
	font-weight: bold;
	color: #fff;
	font-family: calibri;
	font-size: 12px;
}

.td-heading {
	font-weight: bold;
	font-size: 16px;
}

.line-break {
	display: block;
	height: 15px;
}

.sub-heading {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.green-status {
	margin: 0px;
	color: #008000;
	font-weight: bold;
	font-family: calibri;
	font-size: 12px;
}

.amber-status {
	margin: 0px;
	color: #ffA500;
	font-weight: bold;
	font-family: calibri;
	font-size: 12px;
}

.red-status {
	margin: 0px;
	color: #ff0000;
	font-weight: bold;
	font-family: calibri;
	font-size: 12px;
}

.invalid-status {
	margin: 0px;
	color: #000000;
	font-weight: bold;
	font-family: calibri;
	font-size: 12px;
}

.black-box {
	border: 1px solid black;
}
</style>
</head>
<body
	style="background-color: #fff; padding: 0px; margin: 0px; position: relative; font-family: calibri">
	<section class="wrapper"
		style="width: 100%; margin: 0 auto; height: 80%;">


		<p class="sub-heading"
			style="margin-bottom: 0px; padding-bottom: 0px;">Background
			Verification Report</p>
		<span class="line-break"></span>
		<p class="sub-heading"
			style="font-size: 10px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;"
			th:text="${root.reportType}"></p>
		<span class="line-break"></span> <span class="td-heading black-text">Section
			1: Case Details</span> <span class="line-break"></span>
		<table class="table_head table-st">
			<!--concept Title head-->
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class=" grey-text"> <span>Candidate Name/Employee
							Name as per iVerify</span>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <span th:text="${root.name}"></span>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class=" grey-text"> <span>Client Name </span>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <span></span>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class=" grey-text"> <span>Country</span>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <span></span>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class=" grey-text"> <span>Account Name</span>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <span th:text="${root.organizationName}"></span>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px;" class="text-left"><span
					class=" grey-text"> <span>BGV Pattern Name</span>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <span></span>
				</span></td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class=""><span
					class=" grey-text"> <span>BGV Assigned Date</span>
				</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> <span
						th:text="${root.caseInitiationDate}"></span>
				</span></td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px;" class=""><span
					class=" grey-text"> <span>BGV Report Date</span>
				</span></td>
				<td style="padding: 5px" class="text-left"><span
					class="grey-text"> <span th:text="${root.finalReportDate}"></span>
				</span></td>
			</tr>
			<tr>
				<td style="padding: 5px" class="text-left"><span
					class=" grey-text"> <span>Vendor Reference ID</span>
				</span></td>
				<td style="text-align: left; padding: 5px;"><span
					class="grey-text"> <span></span>
				</span></td>
			</tr>

			<tr>
				<td style="padding: 5px" class="text-left"><span
					class=" grey-text"> <span>Wipro Reference ID</span>
				</span></td>
				<td style="padding: 5px" class="text-left"><span
					class="grey-text"> <span th:text="${root.applicantId}"></span>
				</span></td>
			</tr>

			<tr>
				<td style="padding: 5px" class="text-left"><span
					class=" grey-text"> <span>Color Code</span>
				</span></td>
				<td
					style="border-collapse: collapse; border: 1px solid black; padding: 10px 5px;"
					th:switch="${root.verificationStatus.name()}"><span
					class="green-status" th:case="'GREEN'"
					th:text="${root.verificationStatus}"></span> <span
					class="amber-status" th:case="'AMBER'"
					th:text="${root.verificationStatus}"></span> <span
					class="red-status" th:case="'RED'"
					th:text="${root.verificationStatus}"></span> <span
					class="invalid-status grey-text" th:case="*">INVALID</span></td>
			</tr>
		</table>

		<span class="line-break"></span> <span class="line-break"></span>
		<table class="table-st">

			<tr class="text-center">

				<td style="width: 33%; background: #ff0000"><span
					style="font-size: 10px; font-weight: bold;" class="grey-text">
						<b>RED</b>
				</span></td>

				<td style="width: 33%"><span
					style="font-size: 10px; font-weight: bold;" class="grey-text">
						<b style="color: #141414">DRAFT</b>
				</span></td>

				<td style="width: 33%; background: #008000"><span
					style="font-size: 10px; font-weight: bold;" class="grey-text">
						<b>GREEN</b>
				</span></td>

			</tr>

			<tr class="text-center">

				<td style="width: 33%"><span style="font-size: 10px;"
					class="grey-text"> Major Discrepancy </span></td>

				<td style="width: 33%"><span style="font-size: 10px;"
					class="grey-text"> Minor Discrepancy/Unable to
						Verify/Additional Information Required </span></td>

				<td style="width: 33%"><span style="font-size: 10px;"
					class="grey-text"> Clear </span></td>


			</tr>
		</table>
		<span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 2: Scope of Verification</span>
		<span class="line-break"></span>
		<table class="table_head table-st">
			<!--concept Title head-->
			<tr>
				<td style="padding: 5px; width: 50%" class="text-left"><span
					class=" grey-text"> Education</span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> Highest Qualification attained </span></td>
			</tr>
			<tr>
				<td style="padding: 5px; width: 50%" class="text-left"><span
					class=" grey-text">Employment </span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> Current employment </span></td>
			</tr>
			<tr>
				<td style="padding: 5px; width: 50%" class="text-left"><span
					class=" grey-text"> Address </span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> Current and Permanent address </span></td>
			</tr>
			<tr>
				<td style="padding: 5px; width: 50%" class="text-left"><span
					class=" grey-text"> Criminal </span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> Current and Permanent address </span></td>
			</tr>
			<tr>
				<td style="padding: 5px; width: 50%" class="text-left"><span
					class=" grey-text"> Identity </span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text">One ID Check </span></td>
			</tr>
			<tr>
				<td style="text-align: left; padding: 5px; width: 50%" class=""><span
					class=" grey-text"> Database </span></td>
				<td style="padding: 5px;" class="text-left"><span
					class="grey-text"> Global </span></td>
			</tr>
		</table>

		<span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 3: Executive Summary</span> <span
			class="line-break"></span>

		<table class="table-st" border="0">
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Educational Verification </span></td>
				<td class=" grey-text" style="width: 30%;"><span
					class="text-center" th:text="${root.courseName}"> </span></td>
				<td
					style="border-collapse: collapse; border: 1px solid black; padding: 10px 5px;"
					th:switch="${root.educationConsolidatedStatus}"><span
					class="green-status" th:case="'GREEN'"
					th:text="${root.verificationStatus}"></span> <span
					class="amber-status" th:case="'AMBER'"
					th:text="${root.verificationStatus}"></span> <span
					class="red-status" th:case="'RED'"
					th:text="${root.verificationStatus}"></span> <span
					class="invalid-status grey-text" th:case="*">INVALID</span></td>
				<td class=" grey-text" style="width: 10%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 40%;"><span
					class="text-center">Employment Verification </span></td>
				<td class=" grey-text" style="width: 30%;"><span
					class="text-center" th:text="${root.currentEmployment}"></span></td>
				<td
					style="border-collapse: collapse; border: 1px solid black; padding: 10px 5px;"
					th:switch="${root.employmentConsolidatedStatus}"><span
					class="green-status" th:case="'GREEN'"
					th:text="${root.verificationStatus}"></span> <span
					class="amber-status" th:case="'AMBER'"
					th:text="${root.verificationStatus}"></span> <span
					class="red-status" th:case="'RED'"
					th:text="${root.verificationStatus}"></span> <span
					class="invalid-status grey-text" th:case="*">INVALID</span></td>
				<td class=" grey-text" style="width: 10%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 40%;"><span
					class="text-center">Address Verification – Current /
						Permanent / Current and Permanent</span></td>
				<td class=" grey-text" style="width: 30%;"><span
					class="text-center"> </span></td>
				<td
					style="border-collapse: collapse; border: 1px solid black; padding: 10px 5px;"
					th:switch="${root.addressConsolidatedStatus}"><span
					class="green-status" th:case="'GREEN'"
					th:text="${root.verificationStatus}"></span> <span
					class="amber-status" th:case="'AMBER'"
					th:text="${root.verificationStatus}"></span> <span
					class="red-status" th:case="'RED'"
					th:text="${root.verificationStatus}"></span> <span
					class="invalid-status grey-text" th:case="*">INVALID</span></td>
				<td class=" grey-text" style="width: 10%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class="grey-text" style="width: 40%;"><span
					class="text-center">Criminal Verification – Current /
						Permanent / Current and Permanent</span></td>
				<td class=" grey-text" style="width: 30%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 20%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 10%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 40%;"><span
					class="text-center">Identity Verification</span></td>
				<td class=" grey-text" style="width: 30%;"><span
					class="text-center"></span></td>
				<td
					style="border-collapse: collapse; border: 1px solid black; padding: 10px 5px;"
					th:switch="${root.IdConsolidatedStatus}"><span
					class="green-status" th:case="'GREEN'"
					th:text="${root.verificationStatus}"></span> <span
					class="amber-status" th:case="'AMBER'"
					th:text="${root.verificationStatus}"></span> <span
					class="red-status" th:case="'RED'"
					th:text="${root.verificationStatus}"></span> <span
					class="invalid-status grey-text" th:case="*">INVALID</span></td>
				<td class=" grey-text" style="width: 10%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 40%;"><span
					class="text-center">Database Verification</span></td>
				<td class=" grey-text" style="width: 30%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 20%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 10%;"><span
					class="text-center"></span></td>
			</tr>
		</table>

		<span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text" th:if="${root.educationCheck}"></span>
		<span class="line-break" th:if="${root.educationCheck}"></span>

		<table class="table-st" border="0" th:if="${root.educationCheck}">
			<tr class="blue-bg text-center">
				<td class="white-text" colspan="6"><span class="td-heading"
					style="color: whitesmoke;"><b>Education Verification</b> </span></td>
			</tr>
			<!-- <tr class="text-center"
				th:each="key: ${root.educationCheck.keySet()}">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${key}"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${root.educationCheck.get(key)}"></span></td>
			</tr> -->
			
			<tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Name of College / Institute / School </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Name of College / Institute / School')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('NOC Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('NOC Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">University Name </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('University Name')}"></span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('UN Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('UN Remarks')}"> </span></td>
	        </tr>
			<tr class="text-center">
			    <td class=" grey-text" style="width:25%;"><span class="text-center">Course / Degree Name</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Course / Degree Name')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Degree Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Degree Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	        	<td class="grey-text" style="width:25%;"><span class="text-center">Specialization</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Specialization')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Dept Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Dept Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
				<td class=" grey-text" style="width:25%;"><span class="text-center">Registration or Roll No</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Registration or Roll No')}"></span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Reg Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Reg Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Year of Passing</span></td>       
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Year of Passing')}"></span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('YOP Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('YOP Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Type of Education </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('Type of Education')}"></span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('TOEDU Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.educationCheck.get('TOEDU Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Is the education institute accredited </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.educationCheck.get('Is the education institute accredited ')}"> </span></td> 
	        </tr>
			<tr class="text-center">
			    <td class=" grey-text" style="width:25%;"><span class="text-center">Is the institute part of Wipro DNH List</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.educationCheck.get('Is the institute part of Wipro DNH List')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
	        	<td class="grey-text" style="width:25%;"><span class="text-center">Mode of Verification</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.educationCheck.get('Mode of Verification')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
				<td class=" grey-text" style="width:25%;"><span class="text-center">Date verified</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.educationCheck.get('Date verified')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Verified By</span></td>       
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.educationCheck.get('Verified By')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
				<td class=" grey-text" style="width:25%;"><span class="text-center">Additional Remarks</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.educationCheck.get('Additional Remarks')}"> </span></td> 
	        </tr>
		</table>

		<span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 5: Employment
			Verification</span> <span class="line-break"></span>

		<table class="table-st" border="0">
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Employer Name </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${root.currentEmployment}"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Employee Code </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Date of Joining</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${root.dateOfJoin}"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"></span></td>
			</tr>
			<tr class="text-center">
				<td class="grey-text" style="width: 25%;"><span
					class="text-center">Date of Leaving</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${root.dateOfExit}"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Designation</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Reason for Leaving</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Type of Employment </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Is the company registered </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Is the company part of Wipro DNH List</span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class="grey-text" style="width: 25%;"><span
					class="text-center">Is the company part of BGV Agency DNH
						List</span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Is UAN Verified </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="2"><span
					class="text-center" th:text="${root.uanVerified}"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Is PF Verified </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="2"><span
					class="text-center" th:text="${root.pfVerified}"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Form 16 verified </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="2"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Additional Verification </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="2"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Mode of Verification </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Date verified </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Verified By </span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Additional Remarks</span></td>
				<td class=" grey-text" style="width: 25%;" colspan="3"><span
					class="text-center"> </span></td>
			</tr>
		</table>

		<!-- <span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 6: Address Verification
			- Current / Current and Permanent</span> <span class="line-break"></span>

		<table class="table-st" border="0">
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Address Type </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Complete Address </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Period of Stay</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class="grey-text" style="width: 25%;"><span
					class="text-center">Is Proof of Current / Current and
						Permanent Address provided</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Is Proof of Current / Current and
						Permanent Address provided</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Date verified</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Additional Remarks </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
		</table> -->

		<!-- <span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 6.1: Address
			Verification – Permanent </span> <span class="line-break"></span>

		<table class="table-st" border="0">
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Address Type </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Complete Address </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Period of Stay</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class="grey-text" style="width: 25%;"><span
					class="text-center">Is Proof of permanent Address provided</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Mode of Verification</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Date verified</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Additional Remarks </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
		</table> -->

		<span class="td-heading black-text" th:if="${root.criminalCheck}"></span>
		<span class="line-break" th:if="${root.criminalCheck}"></span>

		<table class="table-st" border="0" th:if="${root.criminalCheck}">
			<tr class="blue-bg text-center">
				<td class="white-text" colspan="6"><span class="td-heading"
					style="color: whitesmoke;"><b>Criminal Record
							Verification – Current / Current and Permanent</b> </span></td>
			</tr>
			<!-- <tr class="text-center" th:each="key: ${root.criminalCheck.keySet()}">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${key}"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${root.criminalCheck.get(key)}"></span></td>
			</tr> -->
			
			<tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Address Type </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Address Type')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Address Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Address Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Complete Address </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Complete Address')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Complete Address Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Complete Address Remarks')}"> </span></td>
	        </tr>
			<tr class="text-center">
			    <td class=" grey-text" style="width:25%;"><span class="text-center">Period of Stay</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('Period of Stay')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('POS Status')}"> </span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.criminalCheck.get('POS Remarks')}"> </span></td>
	        </tr>
	        <tr class="text-center">
	        	<td class="grey-text" style="width:25%;"><span class="text-center">Is Proof of Current / Current and Permanent Address provided</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3" th:text="${root.criminalCheck.get('Type of Verification')}"><span class="text-center"> </span></td> 
	        </tr>
	        <tr class="text-center">
				<td class=" grey-text" style="width:25%;"><span class="text-center">Is Proof of Current / Current and Permanent Address provided</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3" th:text="${root.criminalCheck.get('Mode of Verification')}"><span class="text-center"> </span></td> 
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Date verified</span></td>       
	            <td class=" grey-text" style="width:25%;" colspan="3" th:text="${root.criminalCheck.get('Date verified')}"><span class="text-center"> </span></td> 
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Additional Remarks </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3" th:text="${root.criminalCheck.get('Additional Remark')}"><span class="text-center"> </span></td> 
	        </tr>
		</table>

		<!-- <span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 6.1: Criminal Record
			Verification – Permanent </span> <span class="line-break"></span>

		<table class="table-st" border="0">
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Address Type </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Complete Address </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Period of Stay</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class="grey-text" style="width: 25%;"><span
					class="text-center">Type of Verification</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Mode of Verification</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Date verified</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Additional Remarks </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
		</table> -->

		<!-- <span class="line-break"></span> <span class="line-break"></span> <span
			class="td-heading black-text">Section 7: Identity Verification</span>
		<span class="line-break"></span>

		<table class="table-st" border="0">
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Name</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Document Name</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr class="text-center">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Document Number</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class="grey-text" style="width: 25%;"><span
					class="text-center">Mode of verification</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Date verified</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
			<tr>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center">Additional Remarks</span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center"> </span></td>
			</tr>
		</table> -->

		<span class="line-break" th:if="${root.globalDatabaseCheck}"></span> <span
			class="line-break" th:if="${root.globalDatabaseCheck}"></span>

		<table class="table-st" border="0" th:if="${root.globalDatabaseCheck}">
			<tr class="blue-bg text-center">
				<td class="white-text" colspan="6"><span class="td-heading"
					style="color: whitesmoke;"><b>Database Verification –
							Global</b> </span></td>
			</tr>
			<!-- <tr class="text-center"
				th:each="key: ${root.globalDatabaseCheck.keySet()}">
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${key}"></span></td>
				<td class=" grey-text" style="width: 25%;"><span
					class="text-center" th:text="${root.globalDatabaseCheck.get(key)}"></span></td>
			</tr> -->
			
			<tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Name</span></td>
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Name')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Name as per Identity Document or search done</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Name as per Identity Document or search done')}"> </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="2"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Name as per Doc Remarks')}"> </span></td> 
	        </tr>
			<tr class="text-center">
			    <td class=" grey-text" style="width:25%;"><span class="text-center">Sanctions</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Sanctions')}"> </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="2"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Sanctions Remarks')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
	        	<td class="grey-text" style="width:25%;"><span class="text-center">Law Enforcement</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Law Enforcement')}"> </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="2"><span class="text-center" th:text="${root.globalDatabaseCheck.get('LE Remarks')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
				<td class=" grey-text" style="width:25%;"><span class="text-center">Regulatory Enforcement</span></td>
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Regulatory Enforcement')}"> </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="2"><span class="text-center" th:text="${root.globalDatabaseCheck.get('RE Remarks')}"> </span></td> 
	        </tr>
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Other Bodies</span></td>       
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Other Bodies')}"> </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="2"><span class="text-center" th:text="${root.globalDatabaseCheck.get('OB Remarks')}"> </span></td> 
	        </tr> 
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Web and Media Searches</span></td>       
	            <td class=" grey-text" style="width:25%;"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Web and Media Searches')}"> </span></td>
	            <td class=" grey-text" style="width:25%;" colspan="2"><span class="text-center" th:text="${root.globalDatabaseCheck.get('WB Remarks')}"> </span></td> 
	        </tr> 
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Date verified</span></td>       
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Date verified')}"> </span></td> 
	        </tr> 
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Mode of verification</span></td>       
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Mode of verification')}"> </span></td> 
	        </tr> 
	        <tr class="text-center">
	            <td class=" grey-text" style="width:25%;"><span class="text-center">Additional Remarks</span></td>       
	            <td class=" grey-text" style="width:25%;" colspan="3"><span class="text-center" th:text="${root.globalDatabaseCheck.get('Additional Remarks ')}"> </span></td> 
	        </tr> 
		</table>

	</section>
</body>
</html>