<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Digiverifier</title>
  <link rel="stylesheet" href="https://img1.digitallocker.gov.in/public/smart/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://img1.digitallocker.gov.in/public/smart/css/global-style-v5_071219.css">
</head>
<body>
<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mx-auto">
<section class="card-signin">
<div class="row setup-content">
 <div class="col-xs-12 col-md-12"><img src="assets/img/digilockerlogo.png" class="mx-auto d-block"></div>
 <div class="col-xs-12 col-md-12">
<div class="row">
<div class="col-xs-12">
<h5 class="fw_500"><b>Sign in to your account</b></h5>
<br>
<div class="container container-md">
    <form [formGroup]="formEPFOlogin" (ngSubmit)="onSubmit()" autocomplete="off">
       <div class="form-group">
            <div class="col-md-12"><div class="input-group">
                                            
                                            <input  class="form-control form-control-sm" formControlName="otp" placeholder="6 digit OTP*" maxlength="6" minlength="6" autocomplete="off">                                            
                                        </div>
                                
                                    <br>
                                    
                                    
                                <div class="msg_otp ng-binding"> DigiLocker has sent a One-Time Password (OTP) to your mobile. Please enter the OTP. </div>
<br>
                            
                            <div class="form-group">
                            <label class="control-label resentOTP_blck" id="resentOTP">OTP will expire in 10 mnts...</label></div>

                            <div class="row">
                                    <div class="col-md-12 text-center">
                                        <ul class="buttons">
                                            <li><button tabindex="2" class="btn-sign-in button6 Verify_otp border bg_none color_048 radius_50" style="width: 100%; padding: 0px 10px;"  type="submit" >Submit</button></li>
                                        </ul>
                                    </div></div> 
            </div>
            </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</section>
<div>
    <ul>
        <li><h6 class="fw_300 account_msg">Don't have DigiLocker account?<a href="https://accounts.digitallocker.gov.in/oauth_partner/register/%252Foauth2%252F1%252Fconsent%253Fresponse_type%253Dcode%2526client_id%253DEABCF5B4%2526state%253D12345%2526redirect_uri%253Dhttps%25253A%25252F%25252Fwww.digiverifier.com%2526orgid%253D002483%2526txn%253D6396f6e098338oauth21670837984%2526hashkey%253De823761440be064f196b6ba48d4c7d9fd39ae5d76e04321ce6f9fb24e02c2f90%2526requst_pdf%253DY%2526app_name%253DcHJvdG90eXBl%2526signup%253Dsignup"> Sign up</a></h6></li>
    </ul>
</div>
</div>
</body>
</html>



