<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle"></h2>
            </div>
        </div>
    </div>
</div>
<div class="container container-md">
    <form [formGroup]="formEPFOlogin" (ngSubmit)="onSubmit()" autocomplete="off">
        <input type="hidden" formControlName="candidateCode">
        <input type="hidden" formControlName="transactionid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 100px;">
                    <div class="card-body">
                        <div class="custom_login_panel">
                            <div class="panel_left">
                                <div class="row my-3">
                                    <div class="col-md-12">
                                        <h3>Please Enter Valid UAN for EPFO Verification</h3>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="" class="required col-md-12">UAN :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" formControlName="uanusername" maxlength="12" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="row my-4">-->
<!--                                    <div class="col-md-5">-->
<!--                                        <label for="" class="required col-md-12">UAN Password :</label>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-7">-->
<!--                                        <label class="sr-only" for="pas">Password</label>-->
<!--                                        <div class="input-group">-->
<!--                                            <div class="input-group-prepend">-->
<!--                                                <div class="input-group-text">-->
<!--                                                    <i class="fas fa-user-lock"></i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <input type="password" class="form-control form-control-sm" formControlName="uanpassword" maxlength="40" autocomplete="off">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <!-- <div class="row my-4">
                                    <div class="col-md-6">
                                        <img src="{{ captchaSrc }}" class="captchaImg" alt="Captcha is not loaded yet">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control form-control-sm" formControlName="captcha" placeholder="Enter Captcha" maxlength="10">
                                    </div>
                                </div> -->
                                <div class="row my-4">
                                    <div class="col-md-12 text-center" style="margin: 10px 0; ">
                                        <button type="submit" class="btn btn-success btn-sm">Submit</button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="redirect()">Cancel</button>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <div class="wrap ml-3 text-right">
                                            <div class="newuser">
                                                <a target="_blank" href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/">New User? - Register Now </a>
                                            </div>
                                            <div class="fgtpas">
                                                <a target="_blank" href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/">Forgot Password? </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="panel_right" style="margin-left: 2%;">
                                <ul class="term">
                                    <li>
                                        <i class="fas fa-key"></i>
                                        <span>YOUR PASSWORD IS CASE SENSITIVE</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-lock"></i>
                                        <span>YOUR PASSWORD IS ENCRYPTED AND CANNOT BE STORED</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-user-plus"></i>
                                        <span>IF YOU ARE NOT REGISTERED USER, PLEASE <a target="_blank" rel="noopener" href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/">Click Here </a></span>
                                    </li>
                                    <li>
                                        <i class="fas fa-shield-alt"></i>
                                        <span>SERIOUS ABOUT SECURITY</span>
                                    </li>
                                    <li>Entrust 256 Bit SSL Encryption Certified To Ensure Data Security
                                    </li>
                                    <li>
                                        <i class="fas fa-clipboard"></i>
                                        <span>DATA WILL BE USED FOR VERIFICATION PURPOSE ONLY</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

