<div class="pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <h2 class="pageTitle">{{ pageTitle }}</h2> -->
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <form [formGroup]="utilizationReportFilter">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="z-index: 1;">
          <div class="card-body" style="padding: 15px 20px 10px;">
            <div class="row">
              <div class="col-md-2 offset-2">
                <button type="button" (click)="filterToday()"
                        class="btn btn-sm btn-primary btn-block">Today
                </button>
              </div>
              <div class="col-md-2">
                <button type="button" (click)="filterMonthToDate()"
                        class="btn btn-sm btn-primary btn-block">MTD
                </button>
              </div>
              <div class="col-md-2">
                <button type="button" (click)="filterLastMonth()"
                        class="btn btn-sm btn-primary btn-block">Last Month
                </button>
              </div>
            </div>
          </div>
          <div class="card-body" style="padding: 8px 20px 5px;">
            <div class="row">
              <div class="col-md-3 offset-2">
                <div class="form-group">
                  <label for="" class="required">From Date</label>
                  <div class="input-group">
                    <input #rangeFrom="ngbDatepicker" formControlName="fromDate" (dateSelect)="onfromDate($event)"
                           id="inputFromDateVendor" [minDate]="createdOnDate"
                           [maxDate]="getToday" class="form-control form-control-sm" ngbDatepicker readonly/>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" (click)="rangeFrom.toggle()" type="button"><img
                        src="../assets/img/calendar.png"/></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="" class="required">To Date</label>
                  <div class="input-group">
                    <input #rangeTo="ngbDatepicker" [startDate]="getMinDate" [minDate]="getMinDate" [maxDate]="getToday"
                           formControlName="toDate" (dateSelect)="ontoDate($event)" class="form-control form-control-sm"
                           id="inputToDateVendor"
                           ngbDatepicker readonly/>
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" (click)="rangeTo.toggle()" type="button"><img
                        src="../assets/img/calendar.png"/></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group" style="margin: 18px 0 0 0;">
                  <button type="button" (click)="onSubmitFilter()" class="btn btn-sm btn-success btn-block">Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="col-md-3">
        <input type="text" id="candidateNameFilter" class="form-control" [(ngModel)]="candidateNameFilter"
               placeholder="Search here" (keyup.enter)="performSearch()" (keyup.backspace)="performSearch()">
      </div>
      <div class="table-responsive">
        <table class="table table-bordered mt-2">
          <thead class="thead-light">
          <tr>
            <th>S.No</th>
            <th>Check Unique Id</th>
            <th>Check Status</th>
            <th>Candidate Request Id</th>
            <th>Candidadate Name</th>
            <th>Agent Name</th>
            <th>Source Name</th>
            <th>Document Name</th>
            <th>Date To Complete</th>
            <th>Reference Data</th>
            <th>Document Download</th>
            <th>Mode Of Verification To Perform</th>
            <th>Case Received On</th>
            <th>Proofs</th>
            <!--            <th>Verification Status</th>-->
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let item of filteredDatapagination();let i = index;"
              [ngClass]="{'disabled-row': item.stopCheckStatus !== null || item.disableStatus === 'DISABLE'}">
            <td>{{i + 1}}</td>
            <td>{{item.checkUniqueId}}</td>
            <td>{{item.vendorCheckStatusMaster?.checkStatusCode}}</td>
            <td>{{item.candidate?.conventionalRequestId}}</td>
            <td>{{item.candidate?.candidateName}}</td>
            <td>{{item.createdBy?.userFirstName}}</td>
            <td>{{item.source?.sourceName}}</td>
            <td>{{item?.documentname}}</td>
            <td>{{ (item.fastTrackDateTime !== undefined && item.fastTrackDateTime !== null) ? item.fastTrackDateTime : 'NA'}}</td>
            <td>
              <!--                        pathKey-->
              <button type="button" class="btn btn-sm btn-primary" title="Download Document"
                      (click)="downloadReferenceExcelData(item.candidate.candidateName,item.source.sourceName,item.candidate.candidateId,item.source.sourceId)">
                <i class="fa fa-download"></i></button>
            </td>
            <td>
              <!--                        pathKey-->
              <button type="button" class="btn btn-sm btn-primary" title="Download Document"
                      (click)="downloadPdf(item.pathKey)">
                <i class="fa fa-download"></i></button>
            </td>
            <td>{{item?.modeOfVerificationPerformed}}</td>

            <td>{{item?.createdOn | date: 'dd-MMM-yyyy'}}</td>
            <td>

              <button class="btn btn-sm btn-info" data-toggle="tooltip"
                      (click)="item.vendorCheckStatusMaster?.checkStatusCode === 'INSUFFICIENCY'?getCurrentStatusOfCheck(item): triggerModal(modalCandidate, item)">
                Upload
              </button>
              <!--              item.vendorCheckStatusMaster?.checkStatusCode === 'INSUFFICIENCY' ? triggerInsufficiencySecoundRemarksModal(insuffmodalsecoundremarks,item) : triggerModal(modalCandidate, item.documentname, item.vendorcheckId)-->
              <button [disabled]="!item.isproofuploaded" type="button" class="btn btn-sm btn-primary"
                      title="View Document"
                      (click)="openCertificate(modalCertificate, item.vendorUplodedDocument)">
                <i class="fa fa-eye"></i>
                <input type="hidden" name="maxFileSize" value="1000000">
              </button>
            </td>

            <!--            <td *ngIf="item.isproofuploaded">Completed</td>-->
            <!--            <td *ngIf="!item.isproofuploaded">Pending</td>-->

          </tr>
          </tbody>
        </table>
        <div class="pagination">
          <button [disabled]="currentPageIndex == 0" (click)="goToPrevPage()">Previous</button>
          <span>Page {{currentPageIndex}} of {{totalPages}}</span>
          <button [disabled]="currentPageIndex == totalPages - 1" (click)="goToNextPage()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalCertificate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View Certificate</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <iframe id="viewcandidateCertificate" max-file-size="5000000" style="width: 100%; height: 600px"></iframe>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalCandidate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Proof</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="vendorlist">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" *ngIf="selectedStatus !== '3'">
              <label for="" class="">Document Name</label>
              <input type="text" class="form-control form-control-sm" formControlName="documentname">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="">Status</label>
              <select class="form-control form-control-sm" #b (change)=getVendorStatusID(selectedStatus)
                      [(ngModel)]="selectedStatus"
                      formControlName="status">
                <option [value]="null">--Select--</option>
                <option *ngFor="let item of vendorCheckStatus;" [value]="item.vendorCheckStatusMasterId">{{
                  item.checkStatusCode }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="">Vendor Remarks</label>
              <input type="text" class="form-control form-control-sm" formControlName="remarks" required
                     minlength="15">
              <div *ngIf="getRemarks().touched && getRemarks().errors?.required" class="d-block invalid-feedback">
                please provide Remarks
              </div>
              <div *ngIf="getRemarks().touched && getRemarks().dirty && getRemarks().hasError('minlength')"
                   class="d-block invalid-feedback">
                please provide at least 15 characters
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="selectedStatus !== '3'">
            <label class="">Upload Document</label>
            <div class="upload-container">
              <input type="file" class="form-control form-control-sm" #fileInput
                     (change)="uploadGlobalCaseDetails(fileInput.files)"
                     accept=".pdf" [disabled]="selectedStatus === '3'"
                     [required]="selectedStatus !== '3'">
              <div id="preview-container">
                <button id="preview-button" class="btn btn-primary" disabled>Preview</button>
              </div>
            </div>
          </div>
          <!-- ------------------------------------------------venderAttributeCheck------------------------------------------------------- -->
          <div>
            <!-- Vendor Attribute Form -->
            <div *ngIf="!globaldataBaseCheck">
              <div *ngFor="let attribute of venderAttributeValue; let i = index" class="col-md-12">
                <div class="form-group" *ngIf="selectedStatus !== '3' ">
                  <label class="required">{{attribute.label}}</label>
                  <ng-container [ngSwitch]="attribute.label">
                    <ng-container *ngSwitchCase="'Employer Authenticity'">
                      <!-- Dropdown logic -->
                      <select formControlName="value" [(ngModel)]="attribute.value" required
                              class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                        <option value="MCA registration">MCA registration</option>
                        <option value="EPFO">EPFO</option>
                        <option value="TAN">TAN</option>
                        <option value="Physical Visit">Physical Visit</option>
                      </select>
                    </ng-container>
                    <!-- Check if it's a date -->
                    <ng-container *ngSwitchCase="'Year of Passing'">
                      <!-- Date input -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value " required
                             class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                    </ng-container>
                    <ng-container *ngSwitchCase="'Employers Address'">
                      <!-- Text input for Employer's Name & Address -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value" required
                             class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                      <div *ngIf="attribute.value && attribute.value.length < 20" class="d-block invalid-feedback">
                        Employers Address should be at least 20 characters long for {{ attribute.label }}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="' Name & Address of the Educational Institution'">
                      <!-- Text input for Employer's Name & Address -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value" required
                             class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                      <div *ngIf="attribute.value && attribute.value.length < 20" class="d-block invalid-feedback">
                        Employers Address should be at least 20 characters long for {{ attribute.label }}
                      </div>
                    </ng-container>
                    <ng-container
                      *ngSwitchCase="'a) Period of Employment (Start date(dd-mm-yyyy) - End date(dd-mm-yyyy)'">
                      <!-- Default text input -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value" required
                             (blur)="markControlAsTouched(i)"
                             class="form-control form-control-sm">

                    </ng-container>

                    <ng-container *ngSwitchCase="'Remarks'">
                      <!-- Default text input -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value" required
                             class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                      <div *ngIf="attribute.value && attribute.value.length < 15" class="d-block invalid-feedback">
                        Remarks should be at least 15 characters long for {{ attribute.label }}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Address'">
                      <!-- Default text input -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value" required
                             class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                      <div *ngIf="attribute.value && attribute.value.length < 20" class="d-block invalid-feedback">
                        Address should be at least 20 characters long for {{ attribute.label }}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <!-- Default text input -->
                      <input type="text" formControlName="value" [(ngModel)]="attribute.value" required
                             class="form-control form-control-sm" (blur)="markControlAsTouched(i)">
                    </ng-container>
                  </ng-container>
                  <!-- Error messages -->
                  <div class="d-block invalid-feedback"
                       *ngIf="isControlTouched(i) && attribute.label === 'a) Period of Employment (Start date(dd-mm-yyyy) - End date(dd-mm-yyyy)' && !isValidDateRange(attribute.value)  ">
                    Please provide Valid Date Range (dd-mm-yyyy to dd-mm-yyyy)
                  </div>
                  <div class="d-block invalid-feedback"
                       *ngIf="isControlTouched(i) && attribute.label === 'Year of Passing' && !testDateRange(attribute.value)  ">
                    Please provide Valid Date Range (dd-mm-yyyy)
                  </div>
                  <div class="d-block invalid-feedback"
                       *ngIf="isControlTouched(i) && attribute.label === 'a) Period of Employment (Start date(dd-mm-yyyy) - End date(dd-mm-yyyy)' && !isValidDateRange(attribute.value)  ">
                    Please provide Valid Date Range (dd-mm-yyyy to dd-mm-yyyy)
                  </div>
                  <div class="d-block invalid-feedback"
                       *ngIf="isControlTouched(i) && attribute.label === 'Period of Study' && !isValidDateRange(attribute.value)  ">
                    Please provide Valid Date Range (dd-mm-yyyy to dd-mm-yyyy)
                  </div>
                  <div class="d-block invalid-feedback"
                       *ngIf="isControlTouched(i) && attribute.label === 'a) Period of Employment' && !isValidDateRange(attribute.value)  ">
                    Please provide Valid Date Range (dd-mm-yyyy to dd-mm-yyyy)
                  </div>
                  <div class="d-block invalid-feedback"
                       *ngIf="isControlTouched(i) && attribute.label === 'Duration of Stay' && !isValidDateRange(attribute.value)  ">
                    Please provide Valid Date Range (dd-mm-yyyy to dd-mm-yyyy)
                  </div>
                  <div
                    *ngIf="isControlTouched(i) &&  attribute.label !== 'a) Period of Employment (Start date(dd-mm-yyyy) - End date(dd-mm-yyyy)' && !attribute.value"
                    class="d-block invalid-feedback">
                    Please provide {{ attribute.label }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template [ngIf]="isVendorAttributeForm && selectedStatus !== '3' && globaldataBaseCheck===false">
            <!-- Legal Proceedings Form starts-->
            <div formGroupName="legalProcedings">
              <div formGroupName="civilProceedings">
                <div class="container my-4">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b class="font-weight-bold text-primary">Civil Proceedings</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Date of Search</label>
                        <input type="date" class="form-control form-control-sm" formControlName="dateOfSearch">
                      </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Court</label>
                        <select class="form-control form-control-sm" formControlName="court">
                          <option value="">- Select Court-</option>
                          <option value="High Court">High Court</option>
                          <option value="Civil Court">Civil Court</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Jurisdiction</label>
                        <input type="text" class="form-control form-control-sm" formControlName="jurisdiction">
                      </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Name of the Court</label>
                        <input type="text" class="form-control form-control-sm" formControlName="nameOfTheCourt">
                      </div>
                    </div>
                    <div class="col-md-12 mx-auto">
                      <div class="form-group">
                        <label>Result</label>
                        <input type="text" class="form-control form-control-sm" formControlName="result">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div formGroupName="criminalProceedings">
                <div class="container my-4">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <b class="font-weight-bold text-primary">Criminal Proceedings</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Date of Search</label>
                        <input type="date" class="form-control form-control-sm" formControlName="dateOfSearch">
                      </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Court</label>
                        <select class="form-control form-control-sm" formControlName="court">
                          <option value="">- Select Court-</option>
                          <option value="Session Court">Session Court</option>
                          <option value="Magistrate Court">Magistrate Court</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Jurisdiction</label>
                        <input type="text" class="form-control form-control-sm" formControlName="jurisdiction">
                      </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                      <div class="form-group">
                        <label>Name of the Court</label>
                        <input type="text" class="form-control form-control-sm" formControlName="nameOfTheCourt">
                      </div>
                    </div>
                    <div class="col-md-12 mx-auto">
                      <div class="form-group">
                        <label>Result</label>
                        <input type="text" class="form-control form-control-sm" formControlName="result">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Legal Proceedings Form ends-->
          </ng-template>

          <div *ngIf="globaldataBaseCheck && selectedStatus !== '3'">
            <!--            <div class="tab-container">-->
            <!--              &lt;!&ndash; Global Tab &ndash;&gt;-->
            <!--              <div class="tab" (click)="selectTab('global')" [class.active]="selectedTab === 'global'">-->
            <!--                Global-->
            <!--              </div>-->
            <!--              &lt;!&ndash; Indian Tab &ndash;&gt;-->
            <!--              <div class="tab" (click)="selectTab('indian')" [class.active]="selectedTab === 'indian'">-->
            <!--                Indian-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <ng-container *ngIf="selectedTab === 'global'">-->
            <div class="row">
              <!--              <div class="tab" (click)="selectTab('global')" [class.active]="selectedTab === 'global'">&ndash;&gt;-->
              <div class="col-6">
                <div>
                  <select class="form-control" #seleGlobalattr>
                    <option *ngFor="let attribute of globalAttributeValue" [value]="attribute.label"
                            [disabled]="isOptionSelectedGlobal(attribute.label)">
                      {{ attribute.label }}
                    </option>
                  </select>
                  <button [disabled]="this.disableGlobalOptionButton"
                          (click)="addSelectedGlobalAttribute(seleGlobalattr.value)">Add Global Attribute
                  </button>
                  <div *ngFor="let attribute of selectedGlobalAttributeValue; let i = index;" class="col-md-12">
                    <div class="form-group">
                      <label class="required">{{ attribute.label }}</label>
                    </div>
                    <input type="text" #gloval
                           class="form-control form-control-sm" [(ngModel)]="attribute.value"
                           (keyup)="onKeyUpGlobal(gloval.value, attribute.label)">
                  </div>
                </div>
              </div>
              <!--            </ng-container>-->
              <!--            <ng-container *ngIf="selectedTab === 'indian'">-->

              <!--              <div class="tab" (click)="selectTab('indian')" [class.active]="selectedTab === 'indian'">-->
              <div class="col-6">
                <select class="form-control" #seleattrIndian>
                  <option *ngFor="let attribute of indiaAttributeValue" [value]="attribute.label"
                          [disabled]="isOptionSelectedIndian(attribute.label)">
                    {{ attribute.label}}
                  </option>
                </select>
                <button [disabled]="this.disableIndianOptionButton"
                        (click)="addSelectedIndianAttribute(seleattrIndian.value)">Add Indian Attribute
                </button>
                <div *ngFor="let attribute of selectedIndiaAttributeValue; let i = index;" class="col-md-12">
                  <div class="form-group">
                    <label class="required">{{ attribute.label }}</label>
                  </div>
                  <input type="text" #indian
                         class="form-control form-control-sm" [(ngModel)]="attribute.value"
                         (keyup)="onKeyUpIndian(indian.value, attribute.label)">
                </div>
              </div>

            </div>
          </div>
          <!--            </ng-container>-->
        </div>

        <div class="row">
          <div class="col-md-12 text-center mt-3 pb-3">
            <button type="button" *ngIf="selectedStatus !== '3'"
                    [disabled]="isButtonDisabled || (!vendorlist.valid|| (selectedStatus !== '3' && !proofDocumentNew))"
                    (click)="onSubmit(vendorlist)"
                    class="btn btn-success btn-sm">Submit
            </button>
            <button type="button" *ngIf="selectedStatus == '3'"
                    [disabled]="isButtonDisabled || (getRemarks().invalid)"
                    (click)="onSubmit(vendorlist)"
                    class="btn btn-primary btn-sm">Submit
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="modal.dismiss('Cross click')">Close
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #insuffmodalsecoundremarks let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Remarks</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="">Vendor Remarks</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="secoundaryRemarks"
                     (input)="onSecoundaryRemarksChange()" name="secoundaryRemarks" required minlength="15"
                     #remarksInput="ngModel">
              <div *ngIf="!remarksInput.touched && remarksModified==false" class="d-block invalid-feedback">
                Please Update the Remarks
              </div>
              <div *ngIf="!remarksInput.touched && secoundaryRemarks.length < 15" class="d-block invalid-feedback">
                Remarks must be at least 15 characters long.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--                  [disabled]="isButtonDisabled || (!vendorlist.valid|| (selectedStatus !== '3' && !proofDocumentNew))"-->
      <!--      (click)="onSubmit(vendorlist) "-->
      <div class="row">
        <div class="col-md-12 text-center mt-3 pb-3">
          <button type="button" [disabled]="!remarksModified || secoundaryRemarks.length < 15" (click)="saveRemarks()"
                  class="btn btn-success btn-sm">
            Submit
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="modal.dismiss('Cross click')">Close</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
