<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle">{{ pageTitle }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container dashboard_container">
    <div class="row">
      <div class="col-md-6">
            <div class="card" style="z-index: 1;margin: -10px 0 10px 0;box-shadow: 0px 7px 14px #00000017;">
                <div class="card-body" style="padding: 15px 20px 10px;">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" (click)="filterToday()" 
                            class="btn btn-sm btn-primary btn-block">Today</button>
                        </div>
                        <!-- <div class="col-md-3">
                            <button type="button" (click)="filterLast7days()" 
                             class="btn btn-sm btn-primary btn-block">Last 7 Day</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" (click)="filterLast30days()" 
                            class="btn btn-sm btn-primary btn-block">Last 30 Day</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" (click)="filterByYear()" 
                            class="btn btn-sm btn-primary btn-block">Year</button>
                        </div> -->
                        <div class="col-md-4">
                            <button type="button" (click)="filterLastMonth()"
                            class="btn btn-sm btn-primary btn-block">Last Month</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" (click)="filterMonthToDate()"
                            class="btn btn-sm btn-primary btn-block">MTD</button>
                        </div>                           
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dashboardFilter_container">
                <form [formGroup]="dashboardFilter">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="card" style="z-index: 1;margin: -10px 0 10px 0;box-shadow: 0px 7px 14px #00000017;">
                                <div class="card-body" style="padding: 15px 20px 10px;">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group mb-0">
                                                <div class="input-group date-picker">
                                                    <span>From</span>
                                                        <input #rangeFrom="ngbDatepicker" formControlName="fromDate" id="inputFromDate" (dateSelect)="onfromDate($event)"  [maxDate]="getToday"
                                                        class="form-control form-control-sm text-right" ngbDatepicker readonly placeholder="From Date"/>
                                                    <div class="input-group-append">
                                                        <button  class="btn btn-sm btn-outline-secondary" (click)="rangeFrom.toggle()" type="button"><img src="../assets/img/calendar.png"/></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group mb-0">
                                                <div class="input-group date-picker">
                                                   <span>To</span>
                                                   <input #rangeTo="ngbDatepicker" [startDate]="getMinDate" [minDate]="getMinDate" [maxDate]="getToday" 
                                                    formControlName="toDate" id="inputToDate" (dateSelect)="ontoDate($event)" 
                                                    class="form-control form-control-sm text-right" ngbDatepicker readonly  placeholder="To Date"/>
                                                    <div class="input-group-append">
                                                        <button  class="btn btn-sm btn-outline-secondary" (click)="rangeTo.toggle()" type="button"><img src="../assets/img/calendar.png"/></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group mb-0">
                                               <button type="button" (click)="onSubmitFilter(dashboardFilter)" 
                                                class="btn btn-sm btn-success btn-block">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="padding: 15px 20px 10px;">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <select class="form-control form-control-sm float-right" #cid (change)="getCustomerData(cid.value)">
                                                <option [value]="0">- All Customer -</option>
                                                <option *ngFor="let item of getCustID" [value]="item.organizationId">{{ item.organizationName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <app-customer-activities></app-customer-activities>
        </div>

        <div class="col-md-6">
            <app-selected-activities></app-selected-activities>
        </div>

        <div class="col-md-6">
            <app-rate-per-item></app-rate-per-item>
        </div>

        <div class="col-md-6">
            <app-rateperreport></app-rateperreport>
        </div>

        <div class="col-md-12">
            <app-activity-comparision></app-activity-comparision>
        </div>

        <div class="col-md-6 d-none">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Agent Details</h4>
                </div>
                <div class="card-body">
                    <div id="agentDetails" style="width: 100%; height: 300px"></div>
                  <app-agent-details></app-agent-details>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-12 mx-auto" style="padding-right: 8px;">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">UAN API Details
                        <button type="button" class="btn btn-sm btn-primary float-right" (click)="onDownloadInvoiceClick()">Utilization Report</button>
                    <div class="btn btn-sm btn-primary float-right">
                        <select [(ngModel)]="selectedCust" #item (change)="onCustomerSelected($event, item.value)">
                            <option value="ALL INCLUDED" selected>- All Customer -</option>
                             <option *ngFor="let item of getCust" [value]="item">{{ item }}</option> 
                        </select>
                    </div>
                    </h4>
                  </div>
                  <div class="card-body" style="padding: 10px 5px;">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="chartUanDetails" style="width: 70%; height: 250px"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

