

<!-- Add this code to your Angular template file (e.g., app.component.html) -->
<!---->
<div class="container mt-3 dashboard_container card pt-2">
  <div class="row justify-content-end">
    <div class="col-auto ml-auto">
      <button class="btn btn-primary mr-2" (click)="refreshData()">
        <i class="fas fa-sync"></i>
        Refresh
      </button>
    </div>
    <!-- <div class="col-auto">
      <input type="text" style="height: 39px;" class="form-control form-control-sm" placeholder="Sort By">
    </div> -->
  <form [formGroup]="uanSearchFilter">
    <div class="row">
      <div class="col-md-5">
          <div class="form-group mb-0">
              <div class="input-group date-picker">
                  <span>From</span>
                  <input #rangeFrom="ngbDatepicker" formControlName="fromDate" (dateSelect)="onfromDate($event)"  [maxDate]="getToday"
                  class="form-control form-control-sm text-right" style="height: 35px;" ngbDatepicker readonly placeholder="From Date" id="inputFromDate"/>
                  <div class="input-group-append">
                      <button  class="btn btn-sm btn-outline-secondary" (click)="rangeFrom.toggle()" type="button"><img src="../assets/img/calendar.png"/></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-5">
          <div class="form-group mb-0">
              <div class="input-group date-picker">
                  <span>To</span>
                  <input #rangeTo="ngbDatepicker" [startDate]="getMinDate" [minDate]="getMinDate" [maxDate]="getToday" 
                  formControlName="toDate" (dateSelect)="ontoDate($event)" 
                  class="form-control form-control-sm text-right" style="height: 35px;" ngbDatepicker readonly  placeholder="To Date" id="inputToDate"/>
                  <div class="input-group-append">
                      <button  class="btn btn-sm btn-outline-secondary" (click)="rangeTo.toggle()" type="button"><img src="../assets/img/calendar.png"/></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group mr-2">
              <button type="button" (click)="uanSearchFilterSubmit()" 
              class="btn btn-sm btn-success btn-block" style="height: 35px;">Apply</button>
          </div>
      </div>
  </div>
  </form>
  
    <div class="col-auto">
      <button class="btn btn-primary" (click)="triggerModal(bulkUanSearch)"  >
        <i class="fas fa-user"></i>
        Bulk UAN Search
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="triggerModal(singleuan)">
        <i class="fas fa-search"></i>
        Single UAN Search
      </button>
    </div>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-bordered" id="tbl-uploaddetails">
      <thead>
          <th>SI#</th>
          <th>Uploaded By</th>
          <th>Uploaded On</th>
          <th>Total Record Uploaded</th>
          <th>Total Record Fetched</th>
          <th>Total Record Failed</th> 
          <th>Action</th>
      </thead>
      <tbody>

        <tr *ngFor="let item of uanSearchFilterPagination(); let i=index">
          <td>{{i+1}}</td>
          <td>{{ item.uploadedBy }}</td>
          <td>{{item.uploadedOn | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td [attr.colspan]="item.epforesponse === 'Search In Progress...' ? 4 : 1" style="color: {{item.epforesponse === 'Search In Progress...' ? 'blue' : 'inherit'}}; font-weight: {{item.epforesponse === 'Search In Progress...' ? 'bold' : 'normal'}}; text-align: {{item.epforesponse === 'Search In Progress...' ? 'center' : 'left'}};" >
            {{item.epforesponse === 'Search In Progress...' ? item.epforesponse : item.totalRecordUploaded}}         
           </td>
          <td *ngIf="item.epforesponse !== 'Search In Progress...'">
            {{item.epforesponse === 'Search In Progress...' ? item.epforesponse : item.totalRecordFetched}}         
            <!-- {{item.totalRecordFetched}} -->
          </td>
          <td *ngIf="item.epforesponse !== 'Search In Progress...'">
            {{item.epforesponse === 'Search In Progress...' ? item.epforesponse : item.totalRecordFailed}}         
            <!-- {{item.totalRecordFailed}} -->
          </td>
          <td *ngIf="item.epforesponse !== 'Search In Progress...'"><button type="button"  class="btn btn-warning btn-sm" (click)="downloadFile(item)"  title="Edit"><i class="fa fa-download"></i></button></td>
      </tr>
          
      </tbody>
  </table>
  
  </div>
  <div class="pagination-container mb-3">
    <button class="pagination-button prev-button" [disabled]="currentPageIndex == 0" (click)="goToPrevPage()">
        <em class="fas fa-chevron-left"></em> Previous
    </button>
    <span class="page-number">Page {{currentPageIndex+1}}<span [ngClass]="{'disabled-span': totalPages === 0}"> of {{totalPages}}</span></span>
    <button class="pagination-button next-button btn-primary" [disabled]="currentPageIndex == totalPages - 1" (click)="goToNextPage()">
        Next <em class="fas fa-chevron-right"></em>
    </button>
</div>


</div>


  

  <!-- Modal -->
 <!-- <div class="modal" tabindex="-1" role="dialog" id="uploadModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload UAN List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" class="form-control-file">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitUpload()">Submit</button>
      </div>
    </div>
  </div>
</div> -->

<ng-template #bulkUanSearch let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">bulkUANSearch</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <form >
          <div class="row text-center">
              <div class="col">
                  <a href="./assets/docs/BulkUanSearch.xlsx" class="btn btn-primary btn-sm">
                      Sample XLS <i class="fas fa-download"></i>
                  </a>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <div class="col">
                          <input type="file" class="form-control-file form-control" required (change)="selectFile($event)"  accept=".xlsx, .xls, .csv">
                      </div>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 text-center mt-3 pb-3">
                  <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="bulkUANSearch()">Submit</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')">Close</button>
              </div>
          </div>
      </form>
  </div>
</ng-template>



<ng-template #singleuan let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">SingleUAN Search</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="singleUanData" (ngSubmit)="searchSingleUAN()" >
          <input type="hidden" formControlName="candidateCode">
        <input type="hidden" formControlName="transactionid">
          <div class="row " >
            <div class="col-md-6">
                <div class="form-group">
                    <label for="applicantId" class="required">Enter ApplicantID</label>
                    <input type="text" formControlName="applicantId" class="form-control form-control-sm" >
                    </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="uanNumber" class="required">Enter UAN Number</label>
                    <input type="text" formControlName="uanusername" class="form-control form-control-sm" >
                    </div>
            </div>  
            </div>
            <hr>
            
            <div class="row">
                <div class="col-md-12 text-center mt-3 pb-3">
                    <button class="btn btn-success btn-sm" [disabled]="singleUanData.invalid">Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')">Close</button>
                </div>
            </div>
        </form>
    </div>

    
  </ng-template>

  