/* Add this code to your CSS file (e.g., styles.css) */

 @import  "../../../assets/scss/admin.scss";

// .container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     align-items: center;
//   }
  
//   .float-right {
//     float: right;
//     margin: 5px;
//   }



//pagination buttons
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
}

.pagination-button.prev-button {
    margin-right: 10px;
    background-color: #f0f0f0;
    color: #ff0000; /* Set red color for the Previous button */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;}

.pagination-button.next-button {
    margin-left: 10px;
}

.pagination-button:hover {
    background-color: #ccc;
    color: #000;
    transform: scale(1.05); /* Add a slight scale effect on hover */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: scale(1.05); /* Add a slight scale effect on hover */
}

.page-number {
    font-size: 18px;
    font-weight: bold;
}

// condition for totalPage
.disabled-span {
    opacity: 0.4; /* You can adjust the opacity to your preference */
    pointer-events: none;
  }
  