<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle">{{ pageTitle }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container container-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 100px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" col-md-12 text-center p-1">
                                    <h4>
                                        Do You have <span *ngIf="uanStat">another</span> UAN ?
                                    </h4>
                                </div>

                                <div class="col-md-12 text-center mt-3">
                                    <div class="wrapper_switch" style="display: flex; flex-direction: column;">
                                        <div class="" style="margin: 10px 0 !important;">
                                            <label class="switch">
                                                <input type="checkbox" class="yes"
                                                (click)="radioCheck($event)" name="uanconfirm" value="yes">
                                                <span class="slider round"></span>
                                            </label>
                                            <b style="margin-top: 10px;">Yes</b>
                                        </div>

                                        <div class="">
                                            <label class="switch">
                                                <input type="checkbox" class="no"
                                                (click)="radioCheck($event)" name="uanconfirm" value="no">
                                                <span class="slider round"></span>
                                            </label>
                                            <b style="margin-top: 10px;">No</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
