<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle"></h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-9">
        <div class="card">
            <div class="custom_login_panel">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="font-size: 17px;">We are unable to fetch the Adhar details, please make sure:</h3>
                            <ul class="term">
                                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                                    <i class="fas fa-user" style="margin-right: 10px;"></i>
                                    <span style="font-size: 15px;">You should login to the Digilocker account using the mobile number linked with your Aadhar.</span>
                                </li>
                                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                                    <i class="fas fa-user" style="margin-right: 10px;"></i>
                                    <span style="font-size: 15px;">You should have the Aadhar card in your Digilocker issued documents.</span>
                                </li>
                                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                                    <i class="fas fa-user" style="margin-right: 10px;"></i>
                                    <span style="font-size: 15px;">You should have updated Aadhar in your Digilocker issued documents.</span>
                                </li>
                                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                                    <i class="fas fa-user" style="margin-right: 10px;"></i>
                                    <span style="font-size: 15px;">If you already have updated Aadhar in Digilocker, go to your issued document section in Digilocker and refresh the Aadhar by clicking on the three dots.</span>
                                </li>
                                <li style="display: flex; align-items: center;">
                                    <i class="fas fa-user" style="margin-right: 10px;"></i>
                                    <span style="font-size: 15px;">You can try logging in with your Aadhar number.</span>
                                </li>
                                <li>
                                    <i class="fas fa-user-plus" style="margin-right: 10px;"></i>
                                    <span style="font-size: 15px;">After Complete above actions Please  <button type="submit" (click)="linkAadharRelogin ()">Click Here</button> to go back to the login page.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


