<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle">{{ pageTitle }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form [formGroup]="serviceConfig" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-3">
                <div class="card nested_chechboxes">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Service Configuration</h6>
                    </div>
                    <div class="card-body">
                        <input type="hidden" value="" formControlName="organizationId">
                        <input type="hidden" value="" formControlName="sourceServiceId">
                        <input type="hidden" value="" formControlName="toleranceConfigId">
                        <div class="row" >
                            <div class="col-md-12" style="max-height: 160px; overflow: auto;" >
                                <ul *ngFor="let item of getCustConfigs; let i=index;" class="parentCboxList">
                                    <li>
                                        <input type="checkbox" class="parentcboxinput pcboxinput" id="{{item.source.sourceId}}" (change)="parentCheck($event)">
                                        {{item.source.sourceName}}
                                    </li>
                                    <ul *ngFor="let serviceSource of item.serviceSourceMaster">
                                        <li>
                                            <input type="checkbox" id="{{serviceSource.sourceServiceId}}" class="cls_sourceIDVal childcboxinput{{serviceSource.sourceServiceId}}"
                                              (change)="childCheck($event)">
                                            {{serviceSource.serviceName}}
                                        </li>
                                    </ul>
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 mb-1">
                <div class="card shadow">
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Data Retention and Tolerance (In Days)
                        </h6>

                    </div>
                    <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="required">Tenure :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="tenure">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="required">Data Retention Period (Purge PII) :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="dataRetentionPeriod">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="required">Anonymous Data Retention Period :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="anonymousDataRetentionPeriod">
                                    </div>
                                </div>


                                <!-- <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-12 required">Dual Employment Tolerance </label>
                                        <select class="form-control form-control-sm" formControlName="dualEmploymentTolerance">
                                            <option>--Select--</option>
                                            <option value="left">
                                                &lt;= </option>
                                            <option value="right">
                                                &gt;=
                                            </option>
                                        </select>

                                    </div>
                                </div> -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-12 required">Dual Employement(Day) :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="dualEmployment">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-12 required">Status
                                        </label>
                                        <select class="form-control form-control-sm"
                                                formControlName="colorId">
                                                    <option [ngValue]="null" disabled>--Select--</option>
                                                    <option *ngFor="let item of getColors" class="Status-{{ item.colorName }}" [ngValue]="item.colorId">{{ item.colorName }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 mb-1">
                <div class="card shadow">
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Verification
                        </h6>
                    </div>
                    <div class="card-body" style="margin: 23px 0px;">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="required">No of Years of Exp :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="numberYrsOfExperience">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="required">No of Employments :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="numberOfEmployment">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="required">Number of Latest Education :</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="numberOfLatestEducation">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="" class="required">Access to Relative's Utility Bill :</label>
                                        <select class="form-control form-control-sm"
                                        formControlName="accessToRelativesBill">
                                            <option value="" disabled>--Select--</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 text-center pb-3" style="flex-direction: row;">
                <button type="submit" [disabled]="!serviceConfig.valid" class="btn btn-primary btn-sm">Submit</button>
                <a routerLink="../../admindashboard" class="btn btn-danger btn-sm">Cancel</a>
            </div>
        </div>
    </form>
</div>



